[2012-03-06 06:47] goomtrex opened #1 "Exits fails with non-existent or erroneous Google account details"
If the `Translation` for site.google_analytics.username etc returns nil, the attempted resolution of the account details fails:

https://github.com/katalyst/koi/blob/master/app/models/exits.rb#L13-16

If they are erroneous, a `Garb::AuthenticationRequest::AuthError` is raised.

This gets caught for `load_google_analytics_session`:

https://github.com/katalyst/koi/blob/master/app/controllers/koi/ap

[2012-05-08 00:59] rahult opened #4 "Error while creating/updating records which are fail validations in Admin"

[2012-05-15 03:41] haydn opened #12 "Error after creating new Koi app."
I get this error if I make a new Rails app using the beta branch:

[code]

I'm not sure if this is a bug or some that hasn't been documented.
### Steps to Reproduce
1.  Run this command to generate the app:

[code]
2.  Update the Gemfile to use the beta branch:

[code]
3.  Start the server:

[code]
4.  Go to the admin section (http://localhost:3000/admin).

[2012-05-16 02:59] #4 closed, assigned to nobody

[2012-07-05 00:12] goomtrex opened #39 "Changes required to new application template"
`Gemfile` needs:

[code]

`config/environments/production.rb` needs:

[code]

[2012-08-17 01:46] haydn opened #42 "Make page routes more flexible"
We often want to do something like this in a project's routes:

[code]

However, this causes problems because Koi currently relies on `edit_page_path` and `pages_path`.

Trying to run `rake db:seed` will cause this error:

[code]

An error will also be thrown when viewing "/admin/pages".

[2013-05-22 06:35] #1 closed, assigned to nobody

[2013-05-22 06:36] #39 closed, assigned to nobody

[2013-05-22 06:37] #42 closed, assigned to nobody

[2013-05-22 06:37] #12 closed, assigned to nobody

[2013-06-12 04:57] jsidoryn opened #74 "v1.1"

[2013-06-12 04:57] #74 closed, assigned to nobody

[2013-10-14 05:00] chris-teague opened #103 "Devise Secret Key on new app creation"
New app had the following error when trying to migrate:

[code]

We should probalby generate this as part of the install script.

[2014-10-24 05:34] #103 closed, assigned to chris-teague

[2014-10-24 05:36] dbaines opened #112 "Nested fields"
Get some nested fields loaded in to an example model and check styling.

[2014-10-24 05:37] dbaines opened #113 "CKEditor popup styles"

[2014-10-24 05:37] dbaines opened #114 "Tweets on dashboard"

[2014-10-24 05:37] dbaines opened #115 "Sitemap Modal Errors"
Push to first tab with errors when errors are shown.

[2014-10-24 05:38] dbaines opened #116 "Asset Manager Close Button"

[2014-10-24 05:38] dbaines opened #117 "Drag/Drop File upload tool tweaks"
Pull file types, file sizes etc. from validations.

[2014-10-24 05:39] chris-teague opened #118 "Settings not working with translsations"

[2014-10-24 05:39] dbaines opened #119 "Adding tags to things crashes"
Eg. Create a super hero and add tags to it.

[2014-10-24 05:41] dbaines opened #120 "Model --orderable is crashing - related to 123"
Generating a koi:admin_controller with --orderable results in a crash in admin. Removing the orderable stuff in the <mode>.rb file gets around the crash.

[2014-10-24 05:42] dbaines opened #121 "Uploading document to asset manager crashes"

[2014-10-24 05:44] dbaines opened #122 "Asset manager: remove "add to page" in asset manager when not editing a page"

[2014-10-24 05:46] dbaines opened #123 "WYSIWYG editor throws error in console, works anyway"

[2014-10-24 05:46] dbaines opened #124 "Datetime picker throws error in console, works anyway"

[2014-10-24 05:47] dbaines opened #125 "Resize asset manager when iframe modal changes size"

[2014-10-24 05:47] rahult opened #126 "Single field model generator generating incorrect model serializer"

[2014-10-24 05:58] #124 closed, assigned to dbaines

[2014-10-24 06:01] #126 closed, assigned to rahult

[2014-10-24 06:14] #113 closed, assigned to dbaines

[2014-10-24 06:19] #114 closed, assigned to dbaines

[2014-10-24 06:32] #116 closed, assigned to dbaines

[2014-10-24 06:56] #119 closed, assigned to rahult

[2014-10-27 00:06] dbaines opened #127 "Belongs_to field type size"

[2014-10-27 01:44] #127 closed, assigned to dbaines

[2014-10-27 01:44] dbaines opened #128 "Styling for tags field (select2)"

[2014-10-28 01:12] haydn opened #129 "Dragging an item out of the sitemap removes it."

[2014-10-28 05:14] haydn opened #130 "Translations or koi navigation error"
I'm get this error when using `koi_render_navigation` in 97b4cd9d965e818828593ac58b5e582cd3577a04:

[code]

Looks like it's something to do with translations/settings.

Workaround for now was to drop back to 1984931dc980296082fd58c17b24a74fbaaab640.

[2014-10-31 04:25] dbaines opened #131 "Show confirmation popup when deleting something on edit page"

[2014-11-03 05:39] dbaines opened #132 "Regular image upload hint position"
Move hint position underneath label to match other form field styles

[2014-11-03 05:41] dbaines opened #133 "Boolean hint position"
Booleans currently don't display the hint text

[2014-11-03 06:43] dbaines opened #134 "Regular image placeholder is forced in to square aspect ratio"

[2014-11-05 00:27] dbaines opened #135 "Make it so missing images don't crash edit page"

[2014-11-07 03:26] #133 closed, assigned to dbaines

[2014-11-07 03:29] #132 closed, assigned to dbaines

[2014-11-07 03:40] #131 closed, assigned to dbaines

[2014-11-07 04:28] #134 closed, assigned to dbaines

[2014-11-07 04:58] #128 closed, assigned to dbaines

[2014-11-17 06:02] dbaines opened #136 "Inline nested fields not showing validation errors against it as a whole"
eg. validates :nested_model, length: { minimum: 1 } will show there is one error, but no error message.

[2014-11-24 00:15] haydn opened #137 "Dependency conflict for sass-rails"
Running `bundle install` on a newly generated project fails.

The Koi gemspec has this:

[code]

The Gemfile that's generated has this:

[code]

[2014-11-24 00:20] haydn opened #138 "Koi seeds can't be run"
Trying to run `rake db:seed` on a newly created project results in this error:

[code]

[2014-11-25 04:34] chris-teague opened #139 "Koi Site Admins Pagination Issue"
Move from .scoped to .all needs addressing

[2014-11-26 00:31] dbaines opened #140 "Customise headers, titles and labels for inline nested forms"
As per Guide Dogs commit:
katalyst/gds@59bb7cf351ead6a3c378aafd0a60a697e7201e57

[2014-12-12 01:49] rahult opened #141 "Add Short URL's for Dragonfly files and images within the router"
[code]

[2015-01-07 05:34] dbaines opened #142 "Saving changes to a folder in sitemap will cause 500 error and not save changes"

[2015-01-07 05:35] dbaines opened #143 "undefined method `num_pages' - trying to view new models in admin"
Work around: has_crud paginate: false

[2015-01-08 06:35] dbaines opened #144 "Uploading PDF via nested inline model throws erro"
Asset names passed to helpers should not include the "/assets/" prefix. Instead of "/assets/koi/application/icon-file-pdf.png", use "koi/application/icon-file-pdf.png"

Image type works fine

[2015-01-13 04:40] danith opened #145 "Cannot delete inline nested model"

[2015-01-14 03:01] danith opened #146 "-200 error message received when uploading an image/document to asset manager on koi 2.0 - could be related to 121"

[2015-01-15 00:41] danith opened #147 "Image with file ext .jpeg does not uplaod"

[2015-01-18 23:19] rahult opened #148 "Upgrade to Rails 4.2"

[2015-01-19 07:12] dbaines opened #149 "Nested models showing all items regardless of parent"
Eg. CTB-v3 shows all vehicles under each brand rather than the vehicles specific for that brand.

Workaround in admin/vehicles_controller:
  def index
    @vehicles = parent.vehicles
  end

[2015-01-23 04:29] #145 closed

[2015-01-23 04:49] #136 closed

[2015-01-23 06:28] #144 closed

[2015-01-27 03:28] chris-teague opened #150 "Boolean styling"
Missing left padding

[2015-01-27 07:02] chris-teague commented on #123
This is also preventing other scripts working, can we prioritise this?

[2015-01-27 23:18] #120 closed

[2015-01-27 23:23] #143 closed

[2015-01-28 05:14] rahult opened #151 "DEPRECATION WARNING: `serialized_attributes`"
DEPRECATION WARNING: `serialized_attributes` is deprecated without replacement, and will be removed in Rails 5.0. (called from ___sers_rahult__evelopment_katalyst_rails_gems_koi_app_views_koi_admin_crud__form_field_collection_errors_html_erb___3886463269190009819_70230119352700 at /Users/rahult/Development/katalyst/rails/gems/koi/app/views/koi/admin_crud/_form_field_collection_errors.html.erb:5

[2015-01-28 05:43] rahult opened #152 "scoped_search is broken"
scoped_search is not working with inherited_resource so I have disabled it.

We need to make choice on whether to fix it or replace it with something new.

Also it does not work with STI anymore.

User in asset manager search, if we try to use scoped_search we get the list of all assets back instead of the type defined.

https://github.com/wvanbergen/scoped_search/issues/112

[2015-01-29 03:09] #147 closed

[2015-01-29 03:09] #146 closed

[2015-01-29 03:09] #121 closed

[2015-01-29 03:10] dbaines opened #153 "Reports without data throws error in console"
Uncaught series has no data: {"color":"#f60","data":null,"name":"New Super Heros Created","renderer":"bar"}
rickshaw-0bd6874b33d535891d4c362413160b88.js?body=1:447

Reproduced by emptying database and viewing super heroes page.

[2015-01-29 03:11] #123 closed

[2015-01-29 03:39] dbaines opened #154 "Check dragonfly app default relationship"
Image/File apps

[2015-01-29 03:45] dbaines commented on #149
Fixed for koi categories, but not for CTBv3 brands/vehicles

[2015-01-29 03:45] #148 closed

[2015-01-29 03:49] #142 closed

[2015-01-29 03:53] #135 closed

[2015-01-29 03:57] #137 closed

[2015-01-29 03:58] #112 closed

[2015-01-29 05:14] #139 closed

[2015-01-29 05:14] #154 closed

[2015-01-29 05:15] #149 closed

[2015-01-29 05:26] #118 closed

[2015-01-29 06:55] dbaines opened #155 "Koi Navigation links pages to /page/slug rather than /slug"
Possible regression as works in koi 1.
Not sure if problem is with pages or navitems or koi_render_navigation

[2015-01-29 07:19] danith opened #156 "Cannot browse server for assets"

[2015-01-30 01:34] #138 closed

[2015-01-30 03:37] dbaines commented on #129
Could not replicate, actually seemed quite resilient to me throwing pages around the screen.
Possibly already fixed.

[2015-01-30 03:38] #129 closed

[2015-01-30 03:38] #150 closed

[2015-02-01 23:28] #156 closed

[2015-02-02 01:04] #155 closed

[2015-02-02 01:15] dbaines opened #157 "Sitemap: Cannot set "highlights on" field"
- Start Date: 2017-02-09
- Owner: TBD

# Summary

Highlights_on is a feature for marking pages in the navigation as active when viewing a module page.

For example, say you have a news listing page and that news page is one of the primary navigation links. When you go to the news page the news link is highlighted in some way like a different colour or background colour or an underline or something

[2015-02-02 03:29] dbaines opened #158 "Pagination styling"
Now that it works it needs styling

[2015-02-02 03:33] dbaines opened #159 "simple_form custom wrapper"
- Start Date: 2017-02-09
- Owner: DB

# Summary

Update all Koi form fields with a `:koi` wrapper to prevent application form changes bleeding through to Koi.

# Motivation

When you change the `simple_form` initialiser in your app, it bleeds through to Koi. Not a huge issue but it can be confusing and depending on the change could result in some weird things happening in the admin.

# Detailed de

[2015-02-02 03:39] dbaines opened #160 "Empty box in WYSIWYG editor"
![wysiwyg-box](https://cloud.githubusercontent.com/assets/685024/5995508/fbd8bff0-aae4-11e4-95f8-0dff918d06cf.jpg)

Seems to be a duplicate tag, possibly as a left over from the re-attaching happening in wysiwyg.js

[2015-02-02 06:27] dbaines opened #161 "Unable to delete a Nested Inline entry"

[2015-02-02 23:31] dbaines opened #162 "Make radio buttons inline"
To avoid being able to click in white space and activating the radio button.

[2015-02-03 02:46] dbaines opened #163 "Sitemap - Target dropdown"
- Start Date: 2017-02-09
- Owner: DB

# Summary

Add a `target` drop-down field for navitems to control opening navitem links in new windows or same window.

# Motivation

Sometimes we need to open navitems in new windows. Maybe they link to an external website or maybe it's a document or something.

Ornament has bandaided this a little bit with it's external link JS stuff, but it would be nice to

[2015-02-03 02:57] dbaines opened #164 "Ability to add more menus to Koi header"
Similar to Koi::Menu.advanced = { ... }

Helpful for sites with multiple subsites. We could have menus for each subsite that contains modules just for that subsite.

A good example is YSA that has the Hubs subsite. We could have something like:

Koi::Menu.hubs = { ... }

[2015-02-03 02:59] dbaines opened #165 "Sitemap description field brought in to core"
The "description" field added to NavItems in Sitemap.

Chris built this for Minda/SALC, it would be cool if this was brought in to core.

Could be some thought around how it interacts with SEO description. Do they reflect each other? Should they be separate? Does one flow in to the other if one is blank and the other is not?

[2015-02-04 06:43] dbaines opened #166 "Read only field type"
Helpful for displaying associations in admin that shouldn't be editable.

eg a comment by a user, admins shouldn't be able to edit what user made the comment but should still be able to see the user.

Implemented in map-v2

[2015-02-06 03:29] dbaines opened #167 "Orderable not saving locally in Chrome"
Koi 2 is working fine, only affecting Koi 1.
Only affecting locally, working fine in production.

Error in console after dragging/dropping:
jquery.js?body=1:9667 POST http://localhost:4000/admin/banners/sort net::ERR_BLOCKED_BY_CLIENT

Possibly a temporary chrome bug that might be fixed in a future update.

[2015-02-10 02:09] haydn opened #168 "Update sass-rails to 4.0.5"
The current minimum version in the gemspec (4.0.3) causes an error when assets try to compile:

[code]

[2015-02-11 23:48] dbaines opened #169 "Auto-populate module items in sitemap under a module NavItem (optional)"
Can be done now with god settings but would be nice if it was a boolean setting against the NavItem.

It would autopopulate all module items and if items have nested modules, populate those too.

This wouldn't reflect in the Sitemap (eg. those module items won't appear in the sitemap page and be orderable) but would output via render_koi_navigation. Their order would be defined by the model itself

[2015-02-20 06:44] #158 closed

[2015-02-20 06:51] #153 closed

[2015-02-20 07:02] #166 closed

[2015-02-26 03:08] rahult commented on #115
I like this, think we can do this with JavaScript to switch to the tab with errors class in it.

[2015-02-26 03:09] rahult commented on #163
I like it, definitely can do. Should be not that hard. Any advantage to use target dropdown instead of boolean? I don't see how, just curious.

[2015-02-26 03:11] rahult commented on #164
Sweet, this is only list as well. Also can we expand this to have nested menus in the first level.

[2015-02-26 03:12] rahult commented on #169
Hmm, this one might be tricky. Lets discuss this offline first.

[2015-02-26 03:13] rahult commented on #122
Can be done, by checking callback parameter ckeditor passes to the route.

[2015-02-27 00:08] dbaines opened #170 "Add permitted_params to mailer generator"
- Start Date: 2017-02-09
- Owner: TBA

# Summary

Adding generated permitted params to mailers

# Steps to reproduce

Generate a mailer and watch it crash when you try and send an email

# Expected results

It would be nice if it generated the permitted_params in the controller

[2015-02-27 01:47] dbaines commented on #164
Sure nested menus sounds like a good idea too

[2015-02-27 01:50] dbaines commented on #163
Target dropdown makes a lot of sense :)

[2015-03-02 00:00] dbaines opened #171 "Make country fields show full country instead of abbreviation on Koi show page."
Something like:

[code]

Does require the country_select gem but country fields crash without it anyway.

[2015-03-05 04:08] dbaines commented on #161
Temporarily fixed by removing confirm.js

[2015-03-06 01:48] chris-teague opened #172 "Settings - File uploads"
Currently not working

[2015-03-09 00:52] dbaines opened #173 "Implement show.js for koi fields"
Add some method of adding data attributes to field types.

[2015-03-16 23:56] dbaines opened #174 "Smarter show partials"
Images, arrays, etc.

[2015-03-17 06:56] dbaines commented on #157
Can be fixed by disabling caching. Add to koi.rb:
Koi::Caching.enabled = false

[2015-03-18 23:47] dbaines opened #175 "Mailer hint for contact address"
To prevent users from making new lines
eg: "admin@katalyst.com.au\r\ndanith@katalyst.com.au"

[2015-03-20 03:26] #171 closed

[2015-03-20 03:27] dbaines commented on #171
type: :country will now show the country.
Requires the country_select gem:
``gem 'country_select', github: 'stefanpenner/country_select'``

[2015-03-20 03:44] #140 closed

[2015-03-20 04:14] dbaines opened #176 "Opening/Closing a inline nested field will reload main WYSIWYG field"
If a user makes changes to a main WYSIWYG field, then opens a nested field, their changes are lost due to the WYSIWYG fields being refreshed.

[2015-03-20 04:16] #162 closed

[2015-03-20 04:31] #174 closed

[2015-03-20 04:33] dbaines opened #177 "Editing settings"
- Start Date: 2017-02-13
- Owner: DB

# Summary

Editing settings on the "extra" tab in modules is crashing with `Undefined method "is_nested?"`

# Steps to reproduce

1. Go to a module index listing
1. Click on the "extra" tab
1. Click on "edit" next to one of the settings

# Expected results

The edit form for the setting should be available for editing

# Actual results

The website fails silen

[2015-03-20 04:40] #115 closed

[2015-03-20 05:42] dbaines opened #178 "Add /node_modules to gitignore"

[2015-03-20 05:42] #178 closed

[2015-04-26 23:48] dbaines opened #179 "Enable/Disable sitemap drag and drop"
Currently implemented in Guide Dogs:
https://github.com/katalyst/gds/commit/e82b324144d2004ff3ef5ef7000e5dedb57a087e

[2015-05-14 08:18] chris-teague opened #181 "File Upload Retained Issue"
When uploading, then removing, then uploading again we are receiving a Dragonfly::FileDataStore::BadUID exception. Temporary fix in HAE-WEB that checks whether retained_xyz is a hash with empty ID, if so doesn't display.

[2015-06-09 07:08] danith opened #182 "'Add file' button in asset manager not triggering an action in IE10"
On gooddogsa.com.au and goodcatsa.com.au - click on Add File button and nothing happens (on IE10)

[2015-12-01 21:40] dbaines opened #183 "Map widget"
Drag a pin on a map to save long and lat values.

[2015-12-02 06:12] rahult opened #184 "Admin CSV Download only exports the current page records"

[2015-12-11 06:26] Obversity opened #185 "fix multiselect_association field styling"

[2015-12-11 06:52] dbaines commented on #185
Ready for testing on v2.0.0 and v2.1.0

[2015-12-13 23:42] Obversity opened #186 "add default value for crud field settings"

[2015-12-16 00:39] haydn opened #187 "Add Slack deploy hook to the app template"
In a few projects we have an `after_restart` deploy hook setup to ping a message to Slack:

<img width="854" alt="screen shot 2015-12-16 at 11 06 28 am" src="https://cloud.githubusercontent.com/assets/27211/11828500/223679ea-a3e5-11e5-8907-84f16bada78e.png">

It'd be nice if that came out-of-the box with Koi. Take look at this code to get started:

https://github.com/katalyst/spt-api/blob/master/d

[2016-01-12 06:21] Obversity opened #188 "dragonfly app: :image causing bug"
- Start Date: 2017-02-09
- Owner: TBA

# Summary

*Short description of the bug.*

# Steps to reproduce

If a dragonfly_accessor is given app: :image but the user accidentally uploads a file instead of an image, or visa versa, the it throws an exception when trying to generate the file icon / image thumbnail.

# Expected results

*What is the result you are expecting?*

# Actual results

*What was

[2016-01-29 04:59] dbaines opened #190 "koi_render_navigation as a block"
Not sure if this is possible, but it would be neat to have something like:

[code]

This would be useful if we have markup that should only be rendered if there is navigation.

A use-case for this is to show markup around the navigation when navigation is present, but to not render any of the markup when there is no navigation present.

A way I've been getting around it is doing something like:

[

[2016-02-02 00:38] Obversity opened #191 "Add sitemap.xml generation to koi"
- Start Date: 2017-02-10
- Owner: BP
- RFC PR: (leave this empty)

# Summary

Currently generating a `sitemap.xml` file is a manual and potentially lengthy process depending on the complexity of the website.

# Motivation

Save time and money.

# Detailed design

*Note: This assumes we use the same process as we currently are*

Start by adding these gems to Koi:

[code]

Add a schedule to generate

[2016-02-02 01:07] Obversity opened #192 "make SEO settings editable by regular admins and port global SEO rendering into global template"
- Start Date: 2017-02-10
- Owner: BP
- RFC PR: (leave this empty)

# Summary

the generated 'koi.rb' file doesn't specify the admin role for the SEO settings template, so by default it uses 'Super', meaning regular admins can't edit this stuff.

# Motivation

*Why are we doing this? What use cases does it support? What is the expected
outcome?*

# Detailed design

*This is the bulk of the RFC. Exp

[2016-02-04 01:02] dbaines opened #193 "Silo vendor assets"
move vendor assets in to their own "koi" folder, eg:
from /vendor/assets/stylesheets/_fotorama.scss
to /vendor/assets/stylesheets/koi/_fotorama.scss

This will prevent apps from over-writing styles or JS on koi.

[2016-02-04 01:04] dbaines opened #194 "Silo simple_form initializer"
Investigate possibility of siloing or namespacing the simpleform initialiser so that updates to the initialiser (such as re-ordering label/hint/errors and changing classes etc.) won't leak through to Koi.

[2016-02-04 01:05] dbaines opened #195 "Update Ornament"
Update sass and js utilities
Various components need updating like form, show.js and typography

[2016-02-04 01:08] dbaines opened #196 "Improve crud fields config"
Allow sizing to add classes, eg:

[code]

Allow show.js integration to add data attributes, eg:

[code]

[2016-02-04 01:08] #182 closed

[2016-02-04 01:13] #173 closed

[2016-02-04 01:14] dbaines commented on #173
Closed as will be solved by #196

[2016-02-08 01:25] dbaines opened #197 "Airbrake Update"
- Start Date: 2017-02-09
- Owner: TBA

# Summary

airbrake has been updated to version 5 which is not playing nice with Koi.
Creating a new Koi project using airbrake 5 you get this error when starting the server:

[code]

This can be fixed by locking the version of airbrake to the latest pre-5 version:

[code]

# Steps to reproduce

*Describe with as much detail as possible the steps you took bef

[2016-02-08 23:27] #193 closed

[2016-02-08 23:28] dbaines commented on #193
Updated in v2.1.0:
https://github.com/katalyst/koi/commit/4a06bd60d0798337a4dcd08b22dee014033d5956

[2016-02-08 23:36] #195 closed

[2016-02-08 23:37] dbaines commented on #195
Updated css utilities and show.js:
https://github.com/katalyst/koi/commit/b060cf3cefa211bdbd9b5ca8564a1b5caf609262

[2016-02-08 23:50] dbaines opened #198 "Small screen improvements"
* Navigation drop down width increase to 225px wide
* Stop sticking the header at a small screen height

[2016-02-08 23:50] #198 closed

[2016-02-09 00:38] #117 closed

[2016-02-09 00:40] dbaines commented on #117
* Reverted "file" type to regular file upload and added "uploader" type which uses the new Ornament image uploader.
* Added passable options through the model:

`type: :uploader, types: "pdf, xls, xlsx", max_size: 10, croppable: true, ratio: "2/1"`

[2016-02-10 04:54] #185 closed

[2016-02-10 23:11] dbaines opened #199 "form_field_tags abstraction"
- Start Date: 2017-02-10
- Owner: DB
- RFC PR: (leave this empty)

# Summary

There is currently a lot of JS/CSS used in form_field_tags that could be abstracted out to core js/css files.

form_field_inline - see #211
form_field_tags - how does this work? seems to be using tagify not select2, is it legacy?

# Motivation

*Why are we doing this? What use cases does it support? What is the expected

[2016-02-10 23:12] #194 closed

[2016-02-10 23:13] dbaines commented on #194
Duplicate of #159

[2016-02-10 23:14] #168 closed

[2016-02-10 23:15] dbaines commented on #168
Gemspec and gemfile both show sass-rails to 5.0.0 so it looks like this was done at some point.

[2016-02-11 01:20] dbaines opened #200 "Customisable module menus"
Update Koi::Menu in the koi initialiser to accept multiple menus, which then populate multiple menus on the front-end of Koi.

[2016-02-11 01:21] dbaines opened #201 "Add list counter to listing page"
eg. 25 items total at the top of the index page for a listing of items.

[2016-02-11 03:19] dbaines commented on #200
Implemented in v2.1.1 as a breaking change.
Updated the koi initialiser in the dummy app as an example:

[code]

[2016-02-11 03:56] #201 closed

[2016-02-11 03:56] dbaines commented on #201
Added to v2.2.0:
https://github.com/katalyst/koi/commit/015e189da2e59eb8f2baffa45703f8c9509c4725

[2016-02-11 05:18] dbaines commented on #200
Pushed to v2.2.0 branch, requires a quick peer review

[2016-02-11 05:20] dbaines commented on #196
Pushed to v2.2.0 branch, requires a quick peer review

Implemented on super_hero.rb using `wrapper_data` to pass data in to the field and `size` to pass in the form sizing class. There's a bit going on so I can I can walk you through the changes if you like.

[2016-02-25 06:48] dbaines opened #202 "Pagination for Asset Manager"
Haven't checked Koi 2, but on an old project I noticed asset manager slows down when there's a lot of images. Pagination should speed things up again.

[2016-07-06 02:42] dbaines opened #211 "Inline Nested Script Load Ordering"
Problem:
Inline Nested partial uses `single_content_for`

This is problematic if using two inline_nested fields when the first is orderable and the second is not. The non-orderable script over-takes the orderable script resulting in the orderable nested field not being able to reorder.

Fix:
Move the scripts out of inline_nested if possible, make the script a bit smarter to work with non-orderable

[2016-07-06 03:35] Obversity commented on #211
"A possible pain point will be the cocoon callback but we might be able to proxy that through a document trigger."

That sentence makes my brain hurt.

I've come across this issue before, but wasn't brave enough to try for a fix at the time. Definitely worth looking at though. (Let me know if you think it's worth pairing on or if you're all good with it.)

[2016-07-09 08:11] dbaines commented on #157
For discussion:
Do we remove the God tab from navitem edit page?
It would be nice to re-implement the features later on in a working state, but for now it's probably best we hide or remove them.

[2016-07-09 08:17] dbaines commented on #160
Fixed in redesign branch.

Culprit is the "Dynamic Toolbar" feature in wysiwyg.js.
Disabling it entirely fixes literally all the problems we have with CKEditor.
I'll look at reimplementing Dynamic Toolbar in the redesign branch because it is a pretty cool feature (it stickies the toolbar as you scroll)

[2016-07-09 08:20] dbaines commented on #202
Fixed in redesign branch

[2016-07-09 08:20] #202 closed

[2016-07-09 08:22] #161 closed

[2016-07-09 08:23] dbaines commented on #161
Default data-confirm behaviour is nice enough for now so the temporary removal has become a permanent removal :P
Will revisit in the redesign branch.

[2016-07-09 08:26] #160 closed

[2016-07-09 08:27] dbaines commented on #176
Same issue as #160, fixed in the redesign branch. See #160 for info on back-porting the problem if necessary.

[2016-07-09 08:27] #176 closed

[2016-07-09 08:30] #130 closed

[2016-07-09 08:30] dbaines commented on #130
Marking this as done as it's 2 years old and no ones run in to the problem since.

[2016-07-09 08:31] #125 closed

[2016-07-09 08:32] #164 closed

[2016-07-09 08:32] dbaines commented on #164
Implemented a while back.

[2016-07-09 08:33] dbaines commented on #125
Redesign branch has new modals that resize and fit to screen, but also asset manager is now in-page. So this is both fixed and made irrelevant at the same time! Woo!

[2016-07-09 08:34] #122 closed

[2016-07-09 08:34] dbaines commented on #122
Fixed in redesign branch

[2016-07-09 08:43] dbaines commented on #192
Pulling SEO stuff in to global template might be more of an Ornament thing. When you're done with the role stuff give me a nudge and I'll update Ornament :)

Ornament already has a lot of Koi-specific stuff in it (uploader requires asset controller, styleguide controller includes CommonControllerActions etc...) so I don't see this being a problem.

[2016-07-09 08:44] #196 closed

[2016-07-09 08:45] #200 closed

[2016-07-09 08:46] dbaines commented on #200
Dupe of #164

[2016-07-09 09:28] dbaines opened #212 "Create image and image_cropped from image_id and image_crop fields dynamically"
- Start Date: 2017-02-09
- Owner: DB

# Summary

The drag and drop uploader could have some model enhancements to make working with the data it uses quicker and easier.

It would be great if these could be automatically added to a model as required. Similar to how adding `dragonfly_accessor :image` gives us access to all of dragonfly's goodness.

# Motivation

To not have to do this boilerplate co

[2016-07-09 11:13] dbaines opened #213 "Make assets croppable"
Now that the redesign branch has the drag and drop uploader in the asset manager, we can make assets croppable :)

Asset Manager should allow to popup open crop tool and save a new crop.
The user should be able to copy a link for the cropped version and the uncropped version.

When accessing from CKEditor the user should be able to add to cropped or uncropped version to the page.

[2016-07-09 11:16] dbaines opened #214 "Sitemap/Orderable doesn't work on touch"
Orderable doesn't work either. I assume they're using the same library.

[2016-07-09 11:18] dbaines opened #215 "Improve Koi DSL"
- Start Date: 2017-02-09
- Owner: DB

# Summary

Update Koi's crud config DSL (domain specific language) with several new, helpful and exciting features to make customising the index/show/edit views in Koi!

# Motivation

A lot of time we have done this in the application by overriding partials. I think we all agree this is a bit confusing and messy.
This will be used to bring our customisations i

[2016-07-09 11:19] dbaines opened #216 "Re-implement Sticky Toolbar for CKEditor"
I disabled the CKEditor's sticky toolbar which turned out to be the root cause of all of our CKEditor woes (#176, #160 etc.)

Would be nice to reimplement but in a way that doesn't break things.

[2016-07-09 11:20] dbaines opened #217 "Responsive Charts"
- Start Date: 2017-03-21
- Owner: TBA

# Summary

Charts don't respond correctly

# Steps to reproduce

View a chart (eg. in Super Heroes) and resize your browser

# Expected results

The chart should resize to the screen.

# Actual results

The chart stays at it's fixed size.

![screen shot 2017-03-21 at 5 48 53 pm](https://cloud.githubusercontent.com/assets/685024/24136427/b163e97e-0e5e-11e7-8c1

[2016-07-09 11:23] dbaines opened #218 "Crud.config options for datepickers"
- Start Date: 2016-07-12
- Owner: DB

# Summary

Make it super easy to customise the jQueryUI datepicker field in Koi

# Motivation

Sometimes we need multiple types of datepickers:
* You can only select future dates
* You can only select past dates
* Limited to the past two years

# Detailed design

Currenly all datepickers have the following settings:

[code]

Which is cool, but wouldn't it be c

[2016-07-09 12:04] dbaines opened #219 "Asset Manager uploader callbacks"
Add some new functionality to the asset manager uploader after successfully uploading.

Links to edit the file and copy the link would be good.

[2016-07-09 13:08] #179 closed

[2016-07-09 13:08] dbaines commented on #179
Implemented in redesign branch

[2016-07-10 03:01] dbaines commented on #152
@Obversity @pvawser01 Can you guys take a quick look at this issue. It may have been resolved or may have been an issue with 1.0.
I'm looking at the asset manager now and the images and documents seem to be returning the correct things, so I'm guessing it's fixed? Thanks!

[2016-07-10 10:22] #183 closed

[2016-07-10 11:13] dbaines opened #220 "Filter for module listings"
Create a method of filtering the listings view.

[2016-07-10 11:36] #219 closed

[2016-07-10 23:45] dbaines opened #221 "Provide documentation in Admin through the help page"
- Start Date: 2016-07-12
- Owner: DB

# Summary

Creating some user documentation would be good, we could put it on the help page.

This could contain common and basic things like adding a new page. Where to find modules and module settings etc.

We could also create a partial that we could over-ride on an application page to pull in application-specific help or our more advanced apps like Oliveri

[2016-07-11 01:28] dbaines opened #222 "Asset Manager params.symbolize_keys"
- Start Date: 2017-02-09
- Owner: TBA

# Summary

Links in the asset manager listing uses `params.symbolize_keys` so that it can track the CKEditor params so it knows wether the user is trying to insert the image via CKEditor.

However it has introduced an issue with linking to other assets in the listing.

# Steps to reproduce

How to reproduce:
1. Open the asset manager
2. Click on File #1
3. Cl

[2016-07-11 05:52] dbaines opened #223 "Developer admin styles"
- Start Date: 2017-02-09
- Owner: DB

# Summary

CSS Framework and Developer style guide to make building new koi views quick and easy

# Motivation

When it comes time to add new views to Koi there's not a whole lot of pre-defined styles for developers to use. It would be good to have some layout, grid, panel options etc.

If developers are ever unsure about which styles to use we could implement

[2016-07-11 06:05] dbaines opened #224 "Asset Manager - Merge tag filtering and search in to one filter modal"
Should be able to search by text and tags in a filter view.
Could be some relation to #220

[2016-07-11 07:27] dbaines opened #225 "Review flash message types"
- Start Date: 2017-07-12
- Owner: DB

# Summary

Destroy and save flash messages should use flash[:success]

# Motivation

It looks weird when all flash messages are yellow. We should utilise green and blue flash messages more where appropriate.

# Detailed design

I couldn't find where these are defined so they might be default settings from a gem or something. The ones I've noticed we should upd

[2016-07-11 07:54] dbaines opened #226 "Asset Manager - Confirm delete should be data-confirm"
- Start Date: 2016-07-012
- Owner: DB

# Summary

The confirm attribute when deleting something from the asset manager should be data-confirm rather than just confirm.

This has been fixed in redesign branch but should probably be back-ported to older branches.

# Steps to reproduce

Try and delete an asset

# Expected results

It should ask you if you want to confirm the delete

# Actual results

[2016-07-11 12:55] dbaines opened #227 "Sitemap - Remove show for mobile"
Nobody knows what it does or what it's intended purpose was.

[2016-07-12 01:34] #227 closed

[2016-07-12 02:00] dbaines opened #228 "Orphaned Pages"
It would be great to have a Koi admin interface that lists pages that have been orphaned from the sitemap.

I'm not sure how this would be queried though. I guess we need all pages where there are no nav_items that have that page as a navigable_id...

You can create an orphaned page by deleting the navitem and not the page associated with it.

A simpler solution may be to over-ride the delete butt

[2016-07-12 06:02] Obversity commented on #228
@dbaines

We may need some kind of 'Would you like to delete this <navagable item> as well?' option, so there's a choice. (Sometimes admins might want pages to still exist on the site so they can be found by google / site search and be linked to from other pages / content.)

[2016-07-12 06:21] dbaines commented on #228
@Obversity

Good call.

I've been thinking about how to get a list of orphaned pages just in case for some reason they still get orphaned. I've managed to get this working to return an orphaned page I created:

[code]

I'm not sure how performant it would be on a large website as it's looping over all NavItems, storing the page ids then getting all the pages that aren't in that list.

It could at

[2016-07-16 13:59] dbaines commented on #211
Fixed in redesign branch:
https://github.com/katalyst/koi/commit/23e923611b65ccf126a1a5fb765df63399800a04

Should be simple enough to back-port if needed

[2016-07-16 14:00] #211 closed

[2016-07-17 01:30] dbaines opened #229 "Update process"
**Update to RFC format**

We need to get together and work out the process for updating (and upgrading) Koi.

We can use a git-flow approach by having a develop branch that our pull requests get merged in to and then create a release when needed.

Or we can merge pull requests in as they get done and just increment the version number for each one as appropriate.

We should also start tracking a ch

[2016-07-17 01:36] dbaines opened #230 "Asset Manager / Uploader interaction"
So uploading something via `type: uploader` (the drag and drop image uploader) adds the file to the asset manager.

Viewing the asset in the asset manager though it has no indication that it's being used with something.

This means someone can come in to the asset manager and delete an asset that's being used by something else.

I guess we have two options. Expose some sort of UI element to indica

[2016-07-17 09:14] #224 closed

[2016-09-20 06:44] dbaines opened #232 "koi_render_navigation creates empty <ul> if no nav items"
Ideally shouldn't render anything.

Example of issue:
Say we have a series of lists with dividers between each list group and one of which happens to be a koi nav block:

[code]

There should be two lists here with a single divider between them. The koi navigation shouldn't render anything until there are actual pages to show.

Project affected: Bideloan user dashboard.
Currently using javascript

[2017-02-08 04:33] jsidoryn opened #233 "Preview"
- Start Date: 2017-02-08

# Summary

In the Admin, when editing a form, display a live preview of how it will look on the site at different widths.

# Motivation

When people edit content they have little idea how it will look when published. This is becoming even harder for clients to understand with responsive sites. It is expected that the client should be able to either click preview and see t

[2017-02-08 04:34] jsidoryn commented on #233
I can't think of an easy way for it to work without hand crafting the views. @dbaines any thoughts on this?

I'm also thinking it might not provide enough value to our clients. Maybe we can road test with them before going too much further.

[2017-02-08 04:53] jsidoryn opened #234 "Simple version"
To do

[2017-02-08 06:14] Obversity commented on #234
:)

[2017-02-08 06:41] jsidoryn opened #235 "Commits for Koi must be made by someone else"
- Start Date: (fill me in with today's date, 2017-02-08)

# Summary

Whenever a commit is made to Koi it must be done by someone other than the author.

# Motivation

By having the commit against the person who reviewed it, it increases ownership of the issue and increases the responsibility of the person reviewing as the commit goes against them.

# Detailed design

Not sure how best for this to

[2017-02-08 06:50] Obversity commented on #235
It'd be good to flesh out the actual process for doing this. I can't comment on it without thinking about how the commit process would actually work and knowing how much hassle that would be.

I do like the idea of increasing ownership for features, though, and this could be a novel way of doing it.

[2017-02-08 06:58] dbaines commented on #233
@jsidoryn Technically speaking `Page` should be easy to update with a preview function. How it would work responsively is another question, maybe they could be moved to tabs on mobile or something.
When the user updates the form it takes the title and description and injects the content in to an iframe on the page in pre-designated areas in the `pages/show.html.erb` view.

For modules though it wo

[2017-02-08 22:30] dbaines commented on #232
Minor issue could be solved by turning koi_render_navigation in to a block, should be moved to RFC format. Closing.

[2017-02-08 22:30] #232 closed

[2017-02-08 22:30] dbaines commented on #167
Doesn't seem to be an issue anymore, closing.

[2017-02-08 22:30] #167 closed

[2017-02-08 22:33] dbaines commented on #152
Considering this fixed.

[2017-02-08 22:33] #152 closed

[2017-02-08 22:33] dbaines commented on #151
One of the things that will be fixed in the Rails 5 upgrade

[2017-02-08 22:33] #151 closed

[2017-02-08 22:40] dbaines commented on #169
Closing in favour of other suggestions/RFCs

[2017-02-08 22:40] #169 closed

[2017-02-08 22:41] dbaines commented on #214
Solved in redesign branch

[2017-02-08 22:41] #214 closed

[2017-02-09 03:49] #234 closed

[2017-02-09 03:56] jsidoryn commented on #226
@dbaines do you think it should still be ported back? if so, make it bug.

[2017-02-09 04:27] jsidoryn commented on #226
@dbaines don't worry about it, i've made it a bug for now

[2017-02-09 04:35] jsidoryn commented on #220
Closing, will be part of another item most likely by Kipp.

[2017-02-09 04:35] #220 closed

[2017-02-09 04:37] jsidoryn commented on #217
Closing as will probably be addressed as part of a larger feature.

[2017-02-09 05:30] Obversity opened #236 "Smarter Koi Generators"
- Start Date: 9/2/2017
- RFC PR:  #208

# Summary

Smarter koi generators so we write less boilerplate.

# Motivation

When using the koi generators, I always have a mental list of things I still need to do afterwards to get stuff to work. However, mental lists are error prone, and it takes time to actually do these things. Many of these things can and should be automated to save time and bugs.

I

[2017-02-09 05:50] Obversity opened #237 "Adding Turbolinks (front-end and backend)"
- Start Date: 09/02/2017
- Owner: BP
- RFC PR: n/a

# Summary

In my experience, Turbolinks makes things feel faster. Turbolinks was revamped in Rails 5, and it's not going away any time soon.

# Status

Work has started on this feature:
https://github.com/katalyst/koi/tree/feature/turbolinks

- [x] CKEditor unloading before cache and reloading after cache
- [x] Datepickers
- [x] Magnific Popup (u

[2017-02-09 06:09] kippo commented on #233
Craft CMS has an example of this working. [See here](https://demo.craftcms.com/AyaOObIPhB/s/admin/entries/services/129-design).
Admin: admin
Password: password

[2017-02-09 06:27] kippo opened #238 "WYSIWYG Improvements"
- Start Date: 2017-02-09
- Owner: KB for now
- RFC PR: (leave this empty)

# Summary

Improve WYSIWYG

# Motivation

Current implementation of CK editor has the following issues:

- Custom HTML and CSS needs to created through source view and can easily be broken by a client. Related to blocks based content.
- Styling is not indicative of how it looks on the front end. Related to issue #233.
- Wri

[2017-02-09 06:51] kippo opened #239 "Spreadsheet view editor"
- Start Date: 2017-02-09
- Owner: KB for now
- RFC PR: (leave this empty)

# Summary

The ability to edit large amounts of entries through a single spreadsheet view.

# Motivation

Editing the price of 50 different products is onerous. I have to open each one individually, edit it then save it.

# Detailed design

Create a spreadsheet style editor that allows me to edit multiple entries through a

[2017-02-09 07:01] Obversity opened #240 "Remove the i18n-active_record gem"
- Start Date: 09/02/2017
- Owner: BP
- RFC PR: #286

# Summary

This gem slows down Koi and the front-end considerably.

# Motivation

Slowness is bad for users and bad for servers, and this gem makes both the backend and the front-end forms slow.

This is because for each simple_form field on the form (i.e. nearly all of them), rails has to look up translations for labels, placeholders, hint text

[2017-02-13 00:26] kippo opened #241 "Mailer editor"
- Start Date: 2017-02-09
- Owner: KB
- RFC PR: (leave this empty)

# Summary

Expose the content within mailers to the KOI interface.

# Motivation

Clients can edit web content but not the content in their mailers. I'm assuming they would like the ability to do this although I can't remember any examples of updates to mailer content—excluding fringe.

It's is also a pain at the moment to client t

[2017-02-13 00:49] jsidoryn opened #242 "Smarter generators"
- Start Date: 2017-02-13
- Owner: BP
- RFC PR: (leave this empty)

# Summary

BP has a branch for this.

# Motivation

*Why are we doing this? What use cases does it support? What is the expected
outcome?*

# Detailed design

*This is the bulk of the RFC. Explain the design in enough detail for somebody
familiar with the framework to understand, and for somebody familiar with the
implementation to

[2017-02-13 00:54] Obversity commented on #242
@jsidoryn This RFC is a duplicate of #236 . Closing.

[2017-02-13 00:54] #242 closed

[2017-02-13 01:29] jsidoryn opened #243 "Prefab module: Users"
- Start Date: 2017-02-13
- Owner: BP
- RFC PR: #206

# Summary

Optionally generating users when bootstrapping a Koi project.

# Motivation

Users are something we need in a good 50% of our projects. Devise is already in the project, so it makes for to have a generator to build a bunch of the stuff we always need for users, plus any other user/koi integrations we think would be worth while for all

[2017-02-13 01:33] jsidoryn opened #244 "Responsive UI"
- Start Date: 2017-02-13
- Owner: DB
- RFC PR: #264

# Summary

Basic redesign to improve UI behaviour on large and small devices.

# Motivation

Menus and module nesting has always been a problem. We've tried to tackle it in the past with extra menus and internal scrollbars but it's never been able to account for infinitely nested and infinitely long module lists.

Being able to use Koi on mobile

[2017-02-13 01:39] jsidoryn commented on #243
@dbaines just chatting with @Obversity and he's done some work on this too. could you get together and work out how best to proceed.

[2017-02-13 01:41] jsidoryn commented on #243
@Obversity just chatted with @dbaines and he was referencing your branch so this is now yours.

[2017-02-13 01:46] jsidoryn opened #245 "Exception tracking"
- Start Date: 2017-02-13
- Owner: PV
- RFC PR: (leave this empty)

# Summary

*Better way to monitor application errors.*

# Motivation

Currently our applications are generated with airbrake credentials. The airbrake API is supported by Errbit and that is what we have been using to catch application errors. Our errbit server is very slow and frustrating to use so it tends to be not checked regula

[2017-02-13 02:08] jsidoryn commented on #241
@kippo one question is if we want to handle generated content in the template. the standard example is emails often starts with 'Dear Kipp'. do we need to devise a template system to allow for that eg 'Dear {first.name}'?

[2017-02-13 03:53] kippo commented on #241
@jason Good point. We could create some sort of syntax that can be used in the editor. {{user_name}} for example. @Obversity it would be great if you could provide some input here thanks bill.

[2017-02-13 04:34] Obversity commented on #241
Dynamic content with some kind of template syntax would be quite a bit of work, but it's doable. I don't know how many of our clients are tech savvy enough to want to use a templating language, though.

If we decide this isn't high enough value to pursue, a happy-medium might just be making a habit of using Settings for email content where possible, possibly even having the koi:mailer generator ge

[2017-02-13 04:45] dbaines commented on #197
Koi has been locked to Airbrake 4.5 for a while now.
Will look at possibly upgrading to 5.x if 4.5 doesn't work with Rails 5.

[2017-02-13 04:45] #197 closed

[2017-02-13 04:58] Obversity opened #246 "Review of form field types"
- Start Date: 2017-02-13
- Owner: BP
- RFC PR:

# Summary

Some field types may need fixes, others may need improvements, and there may be field types out there used in other projects.

# Motivation

Koi's range of form field types are what allows us to be productive in writing the backend to capture data. Not having to build a date input from scratch, or a select2 association input, or a nested f

[2017-02-13 05:36] Obversity opened #247 "Improve csv generation"
- Start Date: 2017-02-13
- Owner: BP
- RFC PR: #269

# Summary

Rewrite csv generation to not use partials, to prevent server crashes.

# Motivation

Generating a csv from a table with thousands of records will, at the moment, crash the server of most projects, depending on how many fields are on in the csv. This is because for each record, for each csv field, it needs to render a partial—which us

[2017-02-13 05:41] Obversity opened #248 "Fix nested sorting"
- Start Date: 2017-02-13
- Owner: BP

# Summary

Sorting a nested resource will un-sort items with a different parent.

# Steps to reproduce

For example on Oliveri, sorting Sinks in the Santorini product range was screwing with the sorting of products in the Endeavour range.

# Expected results

Sorting items should only sort the set of items that's currently being viewed.

# Actual results

Item

[2017-02-13 05:46] dbaines opened #249 "Gemifying Koi"
- Start Date: 2017-02-13
- Owner: DB

# Summary

Split out features of Koi in to seperate gems.

# Motivation

There's two issues that this would solve:

1. Reduce the amount of bloat in the out-of-the-box Koi.
1. Make incremental upgrades of features easy

# Detailed design

Koi would be really cut down to really just sitemap and pages. Features such as the WYSIWYG editor, custom fields or large

[2017-02-13 06:03] Obversity opened #250 "Code should be pulled into the project rather than sit in the koi engine"
- Start Date: 2017-02-13
- Owner: BP
- RFC PR:

# Summary

Some code that we often override or want to override could be generated in the project itself, rather than living in the Engine.

# Motivation

We often find ourselves overriding (or being unwilling or unable) to override or extend things in Koi.  This is not good.

When Ornament gets bootstrapped, all its files are pulled into the project

[2017-02-13 06:05] dbaines opened #251 "More out-of-the-box alternative views"
- Start Date: 2017-02-13
- Owner: DB

# Summary

Improve the out-of-the-box experience with Koi by providing alternate views for the developer to use.

# Motivation

Sometimes we need to make customised views for things such as Orders, Users etc. Most of these could be simplified enough and generic enough to make as a default.

# Detailed design

We could create more crud views:

[code]

Maybe to

[2017-02-13 06:15] Obversity opened #252 "review and remove any unnecessary / under-used depencendies of koi"
- Start Date: 2017-02-13
- Owner: BP
- RFC PR: (leave this empty)

# Summary

If it's not being used or hardly being used, it shouldn't be there.

# Motivation

See above. Let's see if we can trim the fat!

# Detailed design

For example:

- I've noticed the 'rails-observers' gem is only used once in the project, and I'm pretty sure the code could be rewritten to regular rails model callbacks.

-

[2017-02-13 06:18] dbaines opened #253 "Pull Navitem information in to Page views"
- Start Date: 2017-02-13
- Owner: DB

# Summary

The relation between `NavItem` and `Page` can be very confusing to most people. We could remedy this by exposing some information about the `NavItem` to make this clearer.

# Motivation

* People delete NavItems and are confused when the Page is still lingering around in the background
* Why can I make a NavItem hidden but I can't see if the page is

[2017-02-13 06:21] Obversity opened #254 "add rack-cache to the included gems so dragonfly doesn't have to regenerate thumbs for everything"
- Start Date: 2017-02-13
- Owner: BP
- RFC PR:

# Summary

Adding the rack-cache gem prevents dragonfly from regenerating image thumbnails etc on every image request.

# Motivation

Caching images greatly reduces server load and significantly improves user experience on image-heavy sites, as images will 'download' faster.

# Detailed design

It seems to be as simple as adding the rack-cache gem an

[2017-02-13 07:15] Obversity opened #255 "Allow different types of things to be added from the site tree"
- Start Date: 2017-02-13
- Owner: BP
- RFC PR: #209

# Summary

We should be able to add various types of things from the sitetree if that makes sense for the AI of the particular site.

# Motivation

Basic koi pages aren't the only things that admins should be able to create from the sitemap. Often it makes sense for, say, an FAQ page to be in the sitemap, or maybe an article, or an image / video

[2017-02-13 07:23] Obversity commented on #244
@dbaines  Looks fantastic! Nice work.

Question: How easy is it to add items to the top bar? I'm slightly worried that having everything in the slide-out menu just adds an extra click to everything you want to do in Koi. It'd be good to still have the most important things duplicated in both the top bar and the sidebar.

Now that I think about it, maybe just the sitemap would do.

[2017-02-13 07:25] dbaines commented on #244
@Obversity Super-easy! It's another configurable setting in `koi.rb`

I was thinking about adding yoursay-style menu-with-more functionality incase it gets too crazy up there.

[2017-02-13 10:57] Obversity commented on #249
@dbaines

I really like the idea of it. Where one gem ends and another begins I'm a bit shady on, though. I know some bits of Koi are fairly modular, but others not so much.

It'd be good to get a proof of concept of this. Is there any area of Koi that you're familiar enough with that you'd be happy pulling into its own gem? (Obviously start small—we just need to know how hard it'd be before we ac

[2017-02-14 01:22] kippo opened #256 "Slug Editor"
- Start Date: 2017-02-09
- Owner: KB
- RFC PR: (leave this empty)

# Summary

Allowing admins to edit the slug of a page. This ticket touches on #253.

# Motivation

If there are pages that share the same title admins have no control over the resulting slug. This can generate ugly slug names (about-2 for example).

On occasion we may also need to edit a slug for SEM reasons but it is assumed that

[2017-02-14 01:24] kippo commented on #253
@David I've created a #RFC for the slug editor part of this David as I wanted to explore the addition of enabling redirects when editing the pages slug. You can see this at #256.

[2017-02-14 01:45] dbaines commented on #253
@kippo sounds great 👍

[2017-02-14 01:47] dbaines commented on #249
@obversity

I was thinking this would be a far future thing, but I think a good proof of concept could probably be a single field type plugin, eg date mask field.

[2017-02-14 02:19] kippo opened #257 "SEO Tabs"
- Start Date: 2017-02-15
- Owner: BP
- RFC PR:

# Summary

Get the SEO tabs working

# Motivation

Clients need SEO. At the moment, we hook it up manually every time, mostly copy pasting from existing projects. This should be hooked up in Koi.

# Detailed design

Look at previous projects where SEO is functioning as intended (maybe Oliveri?) and pull it into koi to work out of the box.

# Drawback

[2017-02-14 03:24] Obversity commented on #251
I like the idea of alternative views, but yeah, there's not enough consistency between projects for stuff like Products and Orders for this to work, I don't think. If we were to pick an ecommerce system to integrate with koi, perhaps as a 'plugin' gem, this would be less of an issue going forward.

Maybe we could just generate product / order etc templates in the project as files, which could then

[2017-02-14 03:31] Obversity commented on #249
@dbaines Yup, that could probably work as a proof of concept.

[2017-02-14 03:34] Obversity commented on #253
@dbaines It wouldn't be slower to render by any meaningful margin, so I think we're safe there. Sounds good!

[2017-02-14 06:38] kippo opened #258 "Dashboard"
- Start Date: 2017-02-14
- Owner: KB
- RFC PR: (leave this empty)

# Summary

Build a customisable dashboard allowing users to see important information and perform useful features.

# Motivation

We have the concept of a dashboard but its not utilised at the moment. It's assumed clients would like this type of feature.

# Detailed design

![img_1594](https://cloud.githubusercontent.com/assets/447

[2017-02-14 07:07] dbaines opened #259 "Remove sticky toolbar on CKEditor"
- Start Date: 2017-02-14
- Owner: DB
- Pull Request: #262

# Summary

After a lot of trial and error I have determined that the sticky toolbar In CKEditor is the cause of a lot of issues we have with CKEditor I general.

# Steps to reproduce

Add a rich_text field to an inline nested module and watch as the content gets emptied as you open and close the container.

When any CKEditor instance is re

[2017-02-15 00:00] jsidoryn commented on #247
Looks like a pretty sensible approach doing in Ruby.

I've had a brief look through the code you linked to and it looks very tied to Koi. I'm wondering if you could break this into two parts. Make a more generic gem that takes an AR collection and performs the transformation on that directly and then separately integrates into Koi.

So something like:

collection.convert_to_csv(:title, :date, :use

[2017-02-15 00:05] jsidoryn commented on #250
I'm definitely in favour of this, I didn't even realise things like this was in engines.

Could one way to work it like Devise does where you can generate the model and view code but if you don't it's hidden? I'm assuming for Devise it just moves it from a path that's hidden from you to one that's in your project.

[2017-02-15 00:18] Obversity commented on #259
@dbaines

Nice find yo! Definitely worth porting to the 2.2.x branch if it's that easy.

How hard would it be to fix on a per-project basis? YourSAy currently have this issue with FAQs (where the wysiwyg editor is three levels deep), and while no one has complained about it yet, I suspect they will shortly, when we go live with Riverine / Share FAQ pages and they start adding content.

[2017-02-15 00:43] Obversity commented on #258
A better dashboard definitely sounds like a good idea, and I like the idea of widgets as a way to improve it.

A widget system is doable. The hard bit will be the contents of those widgets, and how customizable the different widget types need to be.

It might be possible to have a couple of koi default widgets (like a Shortcuts widget) and then have other widgets that we build on a per-project bas

[2017-02-15 00:47] Obversity commented on #250
Yeah, it'd work similarly to devise. It's the way it currently works in Koi when you override a model. I.e. if I copy paste the `Page` model into `app/models/page.rb`, then it'll start using the code there, rather than the code in Koi.

[2017-02-15 00:49] dbaines commented on #259
@Obversity I just used yoursay as a proof-of-concept and it looks like it's super-easy to fix in the application.

The toolbar is added in `wysiwyg.js`, removing this fixes the blank empty space below the toolbar.
There are several "fixes" throughout Koi that destroys CKEditors and re-initialises them to fix rendering issues with the sticky toolbar when showing/hiding editors. There's a function i

[2017-02-15 01:02] Obversity commented on #247
Yup, it definitely is tied to Koi. It may be able to be extracted. I'll give it some thought as to whether it'd be worth gemifying! I suspect it'd be more work than it'd be worth at the present.

"I'm also thinking if this might be a lower priority"

I don't see it as super low priority given that our current csv generation is a one-button server crash, if used on the wrong model—as happened with

[2017-02-15 01:10] kippo commented on #258
@Obversity Yeah that the assumption at the moment. A suite of prebuilt slightly customisable widgets alongside side widget built exclusively for specific projects. 👍

[2017-02-15 01:29] jsidoryn commented on #246
This RFC has the potential to get very big very quickly. I'm sure almost everyone has an idea of additional form widgets or form UI patterns that would be good.

@Obversity it would definitely be good to go through those projects and see what you find.

After that let's chat about how we want to proceed with this. It may be best to just add ideas in the comments or to have a meeting around this. W

[2017-02-15 01:53] dbaines commented on #259
Looks like it wasn't that easy. Once deployed to staging it was not compiling the updated `wysiwyg.js` file in to the `koi.js` file. Must be some weird asset compilation issue with engines maybe.

Either way it's a relatively simple update that could be back-ported to specific versions of koi as we need them.

[2017-02-15 01:56] Obversity commented on #246
Sounds good! Any that I find in koi that really need fixing I'll fix. Any interesting ones I find in other projects I'll comment here to see what people's opinions are on pulling them into Koi. There might be several, there might be none!

[2017-02-15 02:17] dbaines commented on #237
I've run in to an issue with Turbolinks in Gym regarding anchoring that's a bit unfortuante: https://github.com/turbolinks/turbolinks/issues/75

[2017-02-15 05:14] dbaines commented on #249
Another candidate for gemifying might be CKEditor. It would make upgrading CKEditor separately from Koi a possibility, and also give us the option of implementing an entirely different WYSIWYG editor if we ever need/want to.

[2017-02-15 05:26] dbaines commented on #257
The seo partial has been added to Ornament (as of v1.2.4) so it's ready-to-go on the front-end.

Koi (or the application) needs the `seo` method defined somewhere. That's what the seo partial looks for as it's source of truth, then falls back to various yields, then back to hard-coded values in the partial.

Maybe to streamline it we could add a concern or something like `seoable` that shows the S

[2017-02-15 06:10] Obversity commented on #249
Now that's a cool idea.

Off topic: I added [trix](https://github.com/basecamp/trix) to YourSAy locally the other day for the FAQs module just to see how it worked compared to CKEditor, and it loaded significantly faster. Stuff like FAQ text is never going to need 90% of the features of CKEditor. Mainly just lists and paragraphs and some text styling, like bold/italics.

Random idea: would it be p

[2017-02-15 06:20] dbaines commented on #249
@Obversity It looks like CKEditor supports the option for passing in a custom config per editor:
http://ckeditor.com/forums/Support/Different-Toolbars-for-Different-Editor-Instances

[code]

`editor1` is the ID of the editor which is a bit unfortunate. We could use data attributes to determine which editor config it picks up. Eg. in `wysiwyg.js`:

[code]

Then in say, `_form_field_rich_text_basic.

[2017-02-16 00:17] jsidoryn commented on #247
I guess I was assuming that there's no existing sites that would crash the server. This is marked against Koi 2.0 so are you thinking there is existing sites that would benefit from this and it's worth going back and fixing. Or is this more a risk ie client asks to add a csv generation on an existing site, it's not obvious how many records it's going to effect and bang, the server goes down.

If t

[2017-02-16 00:19] jsidoryn commented on #246
Sounds good.

[2017-02-16 00:38] jsidoryn commented on #241
Understand that including a templating system is not only a lot of work but also adds another layer of complexity. May not be worth the effort if it's just for email templates.

Some of the other features may still be useful though such as being able to see a preview and being able to send test messages etc.

Would another way be to keep the plan as it was originally but just to make the 'Dear {fi

[2017-02-16 00:42] kippo commented on #241
@jason Yes I agree. I think reward to effort on the shortcode idea is low and it would be easiest to only let users edit content that did not contain dynamic content.

[2017-02-16 00:43] jsidoryn commented on #252
'Trimming the fat' would be a great outcome for Koi 3. Going through them is also a way to better understand what's there and why.

Would it be worth also reviewing whether the gem is the best gem for the job or if the gem version is the right one?

[2017-02-16 00:46] jsidoryn commented on #244
Looks great! We could spend time reviewing this more broadly but I think it's such a big win that we should just get it in.

[2017-02-16 00:57] jsidoryn commented on #251
The developer experience is important and should be an important concern for Koi 3.

I like the idea of this and never thought of it. This could be part of the prefab idea or could simply be a flag for a generator.

We want to always have flexibility and it's safe to assume that across product / orders (for example) that things will differ from project to project. But there may be enough similarit

[2017-02-16 01:01] dbaines commented on #244
Alright I'll start working on cleaning this up and getting it pull-request-ready.
The filters are still up in the air a little bit. What I'll do for that is pull the search functions back in to the main UI out of the filter popup and make filters it's own RFC once that's done.

[2017-02-16 02:12] Obversity opened #261 "Make version of koi in gemfile read from koi's actual version & use tag instead of branch"

[2017-02-16 03:04] Obversity commented on #241
So basically settings, but having a centralised 'email' area in Koi for it? Sounds good to me!

[2017-02-16 03:07] Obversity commented on #252
Asking whether a gem is the best gem for the job is a much bigger task, but if anything really obvious jumps out, then sure, definitely. I'm wary of picking new gems just because they're flavour of the month, but there may indeed be better alternatives to some of the things we use.

They should be individual RFCs, if we find any, so the pros and cons can be assessed.

[2017-02-16 03:14] Obversity commented on #248
Fixed with #260

[2017-02-16 03:14] #248 closed

[2017-02-16 03:20] turbotimatron commented on #241
yep but also the other features you brought up like preview, being able to
sent a test etc

On Thu, Feb 16, 2017 at 1:34 PM, Bill Pearce <notifications@github.com>
wrote:

--
---------------------------------------------
Jason Sidoryn
Director

Katalyst Web Design
Level 1, 5 Leigh St Adelaide

P: 8410 4111
M: 0438 803 184

jason@katalyst.com.au
www.katalyst.com.au

[2017-02-16 03:22] jsidoryn commented on #241
yep but also the other features you brought up like preview, being able to
sent a test etc

[2017-02-16 03:25] jsidoryn commented on #252
hopefully no one is in favour of picking gems just because they are new and shiny.

you're right though, has the potential to broaden the rfc way too much. should be separate rfc's as you say.

[2017-02-16 05:00] Obversity commented on #246
Here's a field from YourSAy that looks handy.

[code]

This renders the form for the `:thing` inside the parent model form.

Our `:inline` field type is great for `has_many :things` relationships, but we don't have an equivalent component for `has_one :thing` relationships. This neatly solves that problem.

Any suggestions on what we call it in Koi?

It'd make it much easier to break larger forms

[2017-02-16 05:40] Obversity commented on #246
A couple of other field types worth mentioning:

### country

[code]

We often have country fields on forms on websites. However, we don't include the country_select gem by default in Koi, meaning a field named 'country' will actually make the app throw an error because simple_form expects the gem to be installed. We also don't have a country form/show/index field in Koi to display the full countr

[2017-02-16 05:43] Obversity commented on #255
Done in #209

[2017-02-16 05:43] #255 closed

[2017-02-16 05:54] dbaines commented on #192
What does everyone think about changing the keywords field to be a `string` rather than a `text`? Having a large textarea implies you can add line breaks and make it really long, when in reality the search engines that support keywords usually have a limit on keywords and definitely don't like line breaks in there. We could even add a text-limiter to further enforce the limitations on the field.

[2017-02-16 06:00] dbaines commented on #259
Went ahead and fixed it in `v1.1.1`
Created a pull request to get it in to v2.2: https://github.com/katalyst/koi/pull/262

[2017-02-16 23:59] pvawser01 commented on #246
These suggestions seem reasonable to me. Country and select fields I have also experienced these issues with. The has_one_inline also makes sense. However, don't we have an association type that magically determines the association type and renders an appropriate view?

[2017-02-17 00:13] dbaines commented on #246
I think `has_one_inline` is pretty self explanatory 👍

[2017-02-17 00:38] pvawser01 commented on #246
+1 for has_one_inline

[2017-02-17 00:51] pvawser01 commented on #247
I feel this is some what high priority. Any site with csv exports could crash in time as more data is added. Oliveri is one that comes to mind. They can export orders and contacts. As time goes by they will get closer and closer to a server crash. Also to consider is the shared servers. One client export could potentially bring down 30 odd client sites. Dark days. :(

[2017-02-17 01:06] pvawser01 commented on #257
Could it be available for everything but only render if there exists configuration in the backend. I think I'm understanding this right. On if backend data exists off if none.

[2017-02-17 01:09] dbaines commented on #257
@pvawser01 Yep that's how it works, if `seo` is defined it uses those, then falls back to `yields` defined in the view, then falls back to hardcoded values.

Would also be good to extend the seo tabs with general meta data like Facebook share image etc.

[2017-02-17 01:16] Obversity commented on #246
We have a `_form_field_association` and a `_form_field_belongs_to` which appear to be doing very similar things. (I think the association one allows an `as` option, e.g. `{ type: :association, as: :radio_buttons }`, but I'm not certain.)

In either case, both fields are just for selecting an existing record, not for creating it on the fly. I.e. they're mainly useful for belongs_to associations.

[2017-02-17 01:22] pvawser01 commented on #254
Not sure I agree with the S3 comment. S3 is pretty simple to set up. It also removes the need for server disk space. Consider something like yoursay where images were on the server. S3 will remove load and disk space from the application server. Also, if you consider scaling, if images are on the server, if a slave server is needed down the track, you would then have syncing issues. Personally I t

[2017-02-17 01:26] pvawser01 commented on #243
I like the idea of a koi generator to set up login. That way you just opt in when you need it, rather than switches or questions that you may not need.

[2017-02-17 01:35] Obversity commented on #243
Yeah, I think I actually prefer the idea of having a `koi:users` generator, rather than asking in the bootstrap.

It means the devise instructions won't get lost in all of the bootstrap output. And I can remember a couple of examples of sites where we haven't needed users off the bat, but they've been added later, for donations, or favouriting, or orders or whatever.

[2017-02-17 01:48] Obversity commented on #254
Yup, I actually agree that S3 would be a better default than hosting them ourselves. This might be worth an RFC, detailing the pros and cons, and how much it might cost clients. Probably more of a Koi 3 thing than a Koi 2 fix, IMO.

In the mean time, the rack-cache gem is a drop-in fix to some sites that are very image heavy, assuming disk storage isn't an issue—which I suppose on some of our shar

[2017-02-17 04:40] dbaines commented on #259
Pull request approved and merged! fa370e5d5ad888a04acbc968221245362c414a02

[2017-02-17 04:40] #259 closed

[2017-02-20 01:01] dbaines commented on #226
@jsidoryn pull request ready https://github.com/katalyst/koi/pull/266

[2017-02-20 01:13] dbaines commented on #177
From my testing seems to be related to the `:images` field for settings. Once I remove this from `setting.rb`'s form fields the form loads and saves correctly.
The lightbox that it shows in is broken too though so the form appears at the bottom of the page. I can fix that, but I guess we need to determine if we need `images` for settings and what it will impact if we remove it.

[2017-02-20 01:33] dbaines commented on #177
Started a hotfix branch: https://github.com/katalyst/koi/commits/hotfix/177-EditingSettings
I've fixed the add/edit settings using the old Koi 1 modal code so it now looks inline with the rest of Koi. Still crashes due to `images` though.

[2017-02-20 02:03] dbaines commented on #177
I've gotten further by changing:

[code]

to:

[code]

Then setting `images: { type: :inline }` to get the form field to show up without crashing! Yay!
But now the Javascript for inline nested fields doesn't work because the JS is rendered through a yield 😭  (which obviously doesn't render since the partial is being injected via ajax)

The inline nested JS is compiled in the `koi.js` in the redesi

[2017-02-20 02:29] dbaines commented on #177
This issue is now fixed in redesign branch.
Could be problematic to back-port.

[2017-02-20 02:29] #177 closed

[2017-02-20 02:35] Obversity commented on #177
@dbaines

Back porting should be doable as long as we don't worry about image settings, yeah? I actually can't think of any of our recent sites that use image settings. To be honest, I'm not sure I even know  how to create one, lol.

[2017-02-20 02:36] dbaines commented on #177
@Obversity This is true. As long as we don't have any settings that use images it should be fine.

[2017-02-20 02:41] #226 closed

[2017-02-20 02:41] Obversity commented on #177
And even then, having it mostly-functioning would be much better than not-functioning-at-all, so it'd still be a win.

[2017-02-21 00:49] jsidoryn commented on #192
Makes sense and I'm good with having it a string field. As you say, clients shouldn't be adding too many in.

[2017-02-21 00:57] jsidoryn commented on #247
Let's do this! We'll consider this consensus and I've moved it to the ready column on the project board.

[2017-02-21 01:00] Obversity commented on #192
Makes sense to me, if that's what search engines prefer!

[2017-02-21 01:01] Obversity commented on #247
Pull Request: #269

[2017-02-21 01:09] jsidoryn commented on #246
With the has_one_inline, is that an accepts_nested_attributes_for type thing? Also I'm assuming that validations will bubble up and be handled correctly? Is there anything else that we need to consider when creating other resources inline?

Regardless, these three all look like good candidates. We don't necessarily need to design it in full in this ticket as it's really just for identification. Ar

[2017-02-21 01:16] jsidoryn commented on #243
Yep, I'm in favour of generators too. I'm also thinking that as we're adding new features we should start documenting. So could you add a wiki page with options as part of the work for this.

@Obversity from what I understand this is a pretty simple implementation in that it just runs the Devise generators etc and is based on previous work you've done. Do you want to expand this at all or simply g

[2017-02-21 01:18] jsidoryn commented on #254
Yep, I think the move to S3 warrants some more discussion as I've got a few pros and cons to add. Best to focus on this one as it is.

@pvawser01 did you have any objections or comments on the addition of rack-cache?

[2017-02-21 01:33] Obversity commented on #246
Yup, the has_one_inline is an `accepts_nested_attributes_for` thing. Validations should be handled.

And yes, I think I'm about done!

Here's the TODO:

- has_one_inline
- country field type
- show_field_select
- work out the difference between :association and :belongs_to field types and possibly clean up

[2017-02-21 01:38] Obversity commented on #243
The work I did was to put it in the koi bootstrap, not as as a generator. I'd need to do a bit of work to make it a generator. This is probably more of a Koi 3 thing though. Yes, it could be as simple as running the devise generators, but if we want to make a real feature of it, we should probably give it some more thought before rushing into it, I reckon.

[2017-02-21 01:42] jsidoryn commented on #243
Cool, agree it's worth a bit more thought or else there's not that much benefit from generating other generators : P

 Is it worth closing this and making a new RFC for this for Koi 3 once you've designed this.

[2017-02-21 03:16] Obversity commented on #243
Yup, it probably is worth closing.

[2017-02-21 03:38] dbaines commented on #215
I have been playing around with the koi DSL and it's actually pretty cool and easily extensible.

I have a proof of concept for adding new tabs to an index list and edit view with this:

[code]

The tab labels populate to the top of the page then the partials are loaded in as the tab panes that gets switched to.

Coupling this with the redesign branch we can make the UI quite customisable.

[2017-02-21 03:47] Obversity commented on #215
@dbaines  Nice work! As discussed, we could probably do sidebar panels like this as well. It'd be good to write down a few use cases for both tabs and sidebars so we can see what kind of value we could get get out of them.

That might help us work out whether we want sidebars to be per-tab or not as well.

[2017-02-21 03:54] dbaines commented on #215
@Obversity totally! I was even considering closing this RFC and making other RFCs with a more specific scope, like DSL: Tabs, DSL: Sidebars, DSL: Yields etc. Then write up pros/cons/use cases etc. for each of those. They could be implemented individually from each other so it doesn't need to be one big DSL update.

[2017-02-21 03:54] Obversity commented on #261
Done by @pvawser01 with PR #263

[2017-02-21 03:54] #261 closed

[2017-02-21 03:55] Obversity commented on #257
Done with PR #265

[2017-02-21 03:55] #257 closed

[2017-02-21 04:04] Obversity commented on #237
Another issue: if you get a 500 error, and then go back to the site, various javascripty things are screwed up—for example on gym, there's now a duplicate search bar for athletes, and toggling things basically toggles them twice, so it flashes them on and off.

[2017-02-21 04:30] Obversity commented on #215
@dbaines Yup, that sounds like a pretty sensible way to approach it, now that we know it's doable. :smile:

[2017-02-21 22:20] Obversity commented on #247
Merged with PR #269

[2017-02-21 22:20] #247 closed

[2017-02-23 03:02] pvawser01 commented on #258
@kippo @Obversity There is something called Dashing. Developed by Shopify it is a rails engine that is customisable and could be added to koi. It does have issues with IE as  the docs mention, it relies on server sent events. However, we could possible, with koi3 , using Rails 5 engineer it to use action cable. Alternatively, we could just take the concepts they have used and build our own followi

[2017-02-23 03:31] Obversity commented on #243
I've updated the RFC to focus on implementation as a generator rather than in the bootstrap process.

It'd be good to get your thoughts @pvawser01 and @dbaines regarding what could make your life easier in projects where we have users. Is there anything that you find yourself doing every time and wishing you didn't have to?

Are there any user-related features that we think could be useful for any

[2017-02-23 07:18] dbaines commented on #243
@Obversity I can't really think of anything I find myself doing a lot for users in Koi.

[2017-02-23 07:19] dbaines commented on #222
Fixed in master

[2017-02-23 07:19] #222 closed

[2017-02-23 07:21] dbaines commented on #225
Fixed in master

[2017-02-23 07:21] #225 closed

[2017-02-23 23:46] dbaines commented on #229
Breaking changes and upgrade notes are now available in Upgrade.md: https://github.com/katalyst/koi/blob/master/Upgrade.md

We now have a pretty sturdy process for releasing updates to Koi, releases will be tagged and published here, along with changelogs: https://github.com/katalyst/koi/releases

[2017-02-23 23:46] #229 closed

[2017-02-24 06:56] dbaines commented on #244
Merged in to master

[2017-02-24 06:56] #244 closed

[2017-02-26 23:09] dbaines opened #272 "Keyboard Shortcuts"
- Start Date: 2017-02-27
- Owner: DB
- RFC PR: N/A

# Summary

The responsive UI has set the groundwork to allow for keyboard shortcuts.

# Motivation

Sometimes it's nice to just press letters on the keyboard to do things. See Jira for example.

# Detailed design

### Current shortcuts:

Utilising [keyboard.js](https://github.com/RobertWHurst/KeyboardJS) we can use keyboard shortcuts to trigger j

[2017-02-26 23:13] Obversity opened #273 "Ordering of non-database columns in koi index view is broken"
Often we use non-database fields in our koi listing pages, e.g.

[code]

Ordering by this column in the UI doesn't work at the moment. We should either (a) disable ordering for non-database fields, or (b) implement ordering for these fields (which would be a lot more work, and would be a bad idea for tables that have a very large number of records, since you'd have to do the sorting in Ruby.)

[2017-02-26 23:27] dbaines opened #274 "Menu filter"
- Start Date: 2017-02-27
- Owner: DB
- RFC PR: https://github.com/katalyst/koi/pull/276

# Summary

Add a filter input to menu to quickly find menu items / modules

# Motivation

Sometimes our module menus can get lengthy. This would be a nice super-user feature to quickly find what you're looking for (assuming you know what it's called)

# Detailed design

A simple little search box in the menu:

[2017-02-26 23:35] Obversity commented on #272
@dbaines alt+m is a really awkward combination for a menu for me. Usually I'll want to be using my mouse when I need a menu, and I agree that it'd be nice to be able to open the menu while my mouse is travelling across the screen, thereby saving a click, but to press alt+m conveniently I need my right hand—which I also need for the mouse, unless I can browse the menu with arrows!

(Can I browse th

[2017-02-26 23:43] dbaines commented on #272
@Obversity You wouldn't use arrows to browse the menu would you? The only instance I can think of using arrows to navigate on the web would be some form elements like radio buttons. Arrows are generally used to scroll I wouldn't want to hijack that from the user. The menu is keyboard accessible you can tab between links and press enter/space to trigger the action.

If you can provide some links to

[2017-02-27 00:14] dbaines commented on #273
I like it. How do you see us managing this?
Would we compare the title to the list of form fields? Something like this:

[code]

Or would it be safer to manage a seperate list of hard-coded fields to check against? eg. an `order_id` field might not appear in the form fields so checking against that list would make this field unorderable, even though it's possible to order by it.

Or am I over-thin

[2017-02-27 00:17] Obversity commented on #272
@dbaines Good point! I actually can't think of any menus that use arrows for navigation. That said, I can't think of any menus that are infinitely nested like this, either. My problem with tab is that you can tab off the end of the menu and lose track of your tab. But yes, tab works.

As suggested in your other RFC, a search bar would mitigate the need for this entirely!

[2017-02-27 00:23] Obversity commented on #274
This would be awesome! On large sites with lots of modules it would definitely make sense.

I don't see this as being too super-usery. If you know how to use google, you know how to use a search box. We'd just need to make sure that the fuzzy-finding is good.

[2017-02-27 03:12] Obversity commented on #273
Something like

[code]

Should do the trick, I think!

[2017-02-27 04:10] dbaines commented on #274
My current thinking is that the search results will be compiled as a flat list of links, eg. You wouldn't see the parent links like "modules", "advanced" or "assets" in the list returned but you would see "super heroes", "images", or "clear cache".

The only concern I have with this is in the case of a site with a massive navigation you might have multiple modules in nested menus that maybe the pa

[2017-02-27 04:23] Obversity commented on #274
Yup, I was thinking a flat list as results as well, but duplicate results would definitely be an issue. A breadcrumb style thing like you suggested could definitely work, but there might not be enough space to show the whole lot, yeah.

Say you had a structure like

[code]

It'd be the top level thing that'd be more useful to see. But maybe this isn't how we'll end up using infinitely nested modul

[2017-02-27 04:54] dbaines commented on #274
I think the whole lot doesn't look too bad actually

![menu-filter-ancestors2](https://cloud.githubusercontent.com/assets/685024/23348971/0aacb5ea-fcff-11e6-8547-eba4285fab2c.jpg)

The code will loop through each parent of the result and build up a breadcrumb-style list of folders it's in.

I've added a setting to `koi.rb` so you can turn the filter off entirely, maybe it could be extended to cont

[2017-02-27 05:41] dbaines commented on #273
@Obversity Yep that did the trick! Works perfectly for me. I've created a pull request: https://github.com/katalyst/koi/pull/277

[2017-02-27 06:00] dbaines commented on #240
This is the sticking point for me. I see the benefit of removing the gem but losing the translations table would be problematic. How hard would it be to remove the inheritance and build up a `settings` table to make it stand on its own? What affects would that have on the upgrade path?

[2017-02-27 06:39] Obversity commented on #240
Agreed, we've never had a project that's needed serious mutli-language capabilities, and if we did, it'd be a one off—not something we'd want to build into koi by default, just because of how difficult it is to maintain sites like that.

We won't lose the translations table. The migration to create the table will remain in the project, as will the settings and translation models. I'm 90% sure that

[2017-02-27 22:38] Obversity commented on #274
Yeah, it doesn't look too bad hey. Sounds great! I'm all for it.

[2017-02-27 23:01] kippo commented on #274
Love this idea.

[2017-02-27 23:54] #273 closed

[2017-02-27 23:55] dbaines commented on #273
Merged in to master

[2017-02-28 01:45] dbaines opened #278 "Dynamic partials for crud pages"
- Start Date: 2017-02-28
- Owner: DB
- RFC PR: N/A

# Summary

Add some more overridable partials to the index listing and form page.

# Motivation

To add something new to the listing page or the form page you need to potentially override the entire page to add what could be quite small things. Maybe you want a notice at the top of the index listing page? Maybe you want a panel in the sidebar jus

[2017-02-28 02:39] Obversity commented on #246
@dbaines I seem to remember we had a Colour Picker field in some project. Would that be too heavy to want to pull into koi?

[2017-02-28 02:53] dbaines commented on #246
@Obversity It was for hillsmith gallery, it worked pretty well I'd be all for adding to Koi

[2017-02-28 04:22] dbaines opened #279 "Listing Filters"
- Start Date: 2017-02-28
- Owner: DB
- RFC PR: N/A

# Summary

Allow the user to filter the index listing to show only records they are interested in.

# Motivation

It's been requested in the past, we have implemented specific custom filters when necessary. It would be nice to have something out of the box and configurable though.

# Detailed design

Another button appears in the listing action b

[2017-02-28 05:03] Obversity commented on #278
This looks amazing. Definitely got my vote. Do you need any help implementing this or are the screenshots actual screenshots?

On this topic, I'd love the ability to be able to add additional actions and relations to the index view.

Earlier today I wanted to add an additional csv download button for Fmc Idea voters.

![image](https://cloud.githubusercontent.com/assets/7999019/23392295/9127f38e-fd

[2017-02-28 05:34] dbaines commented on #278
@Obversity

It's real! I [pushed up the branch](https://github.com/katalyst/koi/find/feature/278-DynamicPartials) but haven't made a pull request yet, I thought it would be a bit cheeky to do one before anyone saw the RFC for it.

I think [relations should already work in crud config](https://github.com/katalyst/koi/wiki/Crud-Config#index-relations) but let me know if that doesn't work.

From a de

[2017-02-28 09:44] dbaines commented on #274
Merged in to master

[2017-02-28 09:44] #274 closed

[2017-02-28 11:27] dbaines opened #280 "Store Dominant Colours with Image Uploads"
- Start Date: 2017-02-28
- Owner: DB
- RFC PR: NA

# Summary

Store dominant colours (1-5 colours as hex) when an image is uploaded so we can do cool stuff with it.

# Motivation

Let's say there's a grid of images. Just having little areas where the image (potentially slowly) loads in, we can fill it with a colour block that represents the image.

# Detailed design

I've used the Fringe website a

[2017-02-28 12:33] Obversity commented on #280
Very cool. We could definitely make this a Koi thing—and perhaps any other image stuff we think would be handy in Koi.

I'm thinking we could build a small wrapper around dragonfly accessors, maybe `koi_dragonfly_accessor`, which we can pass several other options to if need be, and which does some smart default processing, like maybe removing meta-data to resolve those weird flipped-image issues w

[2017-02-28 23:28] jsidoryn commented on #243
@Obversity the list looks good and agree that we shouldn't be trying to add in a bunch of features that we'll have to unwind on projects where they aren't needed or where changes need to be made.

So I think the list of features you have can be applicable for any project.

*registration / login analytics*

This will likely tie in with work that Kipp is doing for the dashboard. The implementation w

[2017-02-28 23:36] jsidoryn commented on #240
Sounds like it can be tested fairly easily to see if it works before going ahead. Decent win if it works. I'd suggest pushing on with this but time boxing it. I'm expecting that settings might have a separate RFC for Koi 3 but regardless of anything that happens in the future this fix sounds like it's needed.

[2017-02-28 23:44] jsidoryn commented on #272
Seems like something that might be good to have in Koi. I'm not sure we're typical users though and might be worth going to clients to see what they want. Might also be a bit hard to pin point without seeing how Koi 3 turns out so might be something to look at a bit later.

The main one for me, which stretches this feature substantially, would be to have some sort of site wide power search (not su

[2017-02-28 23:47] dbaines commented on #272
@jsidoryn The RFC Bill referenced was for the [menu filter](https://github.com/katalyst/koi/issues/274), it's already been built, approved and merged in to master 😄

It would be amazing to extend it in to a spotlight-like feature though.

[2017-02-28 23:51] jsidoryn commented on #246
could I suggest that we have a separate RFC based around front end components. i see adding in a colour picker as something that's more ornament focussed as needs some thought around interface etc and the ruby implementation is pretty straight forward.

there's also things like looking at better date pickers and all sorts of form components that i think would be great to look at.

[2017-02-28 23:59] jsidoryn commented on #279
I think as a feature this is definitely something we'll want to include in Koi 3. As far as the final UI it's also something that @kippo will be looking at in the UI review.

I quite liked the Datatables implementation you did for Combat Sports. I think this needs a bit more thought also to pin point the use cases.

I think the main use case is that a person is looking for a record to edit or dele

[2017-03-01 00:05] jsidoryn commented on #280
Looks cool. The RFC isn't tagged with a version of Koi but assuming it should be v3?

[2017-03-01 00:07] dbaines commented on #278
@Obversity

Thinking about it more I agree  an area for actions would be good. Since not all actions there are technically relations. I know in one of our sites I've seen custom order processing buttons appear here, which could only be done by overriding that partial. So I've added a spot for custom actions:

`_index_fields_custom_actions.html.erb`

Similarly I've added an area for custom actions

[2017-03-01 00:09] jsidoryn commented on #272
got it and understand the conversation now.

that's pretty great as it is and already gets much of the way there.

spotlight feature is definitely a separate feature.

[2017-03-01 00:10] jsidoryn commented on #272
@dbaines if it's already in master, would you mind closing the ticket and linking in the pr. cheers

[2017-03-01 01:06] dbaines commented on #280
@Obversity That sounds amazing. Wrapping the dragonfly object would allow us to do all sorts of cool things. The generator update could even generate the `image_crop_string` field for croppable assets.

@jsidoryn I agree I think this might be a bit much for v2.

[2017-03-01 01:54] dbaines commented on #278
You can now add a primary action on any crud page that appears near the title, and add a description under the title:

[code]

![index_partials_title copy](https://cloud.githubusercontent.com/assets/685024/23442598/71f88b68-fe79-11e6-8dd1-0bc5f65e214a.jpg)

This is the index page but I've added it to index/form/show.
Ideally you would only ever add one primary action, if you need to add multiple a

[2017-03-01 03:16] dbaines commented on #246
Ornament should ideally only be concerned with the front-end of the application. Koi should be able to have front-end components without bringing them in to Ornament.

[2017-03-03 07:09] Obversity opened #285 "Making 'admin_url' field required for nav items"
- Start Date: 2017-03-03
- Owner: BP

# Summary

Make the 'admin_url' field of module nav items required for a better user experience for our clients.

# Motivation

We as developers / admins often don't fill in the admin_url field because it takes time and we're busy. However, if the sitemap is to be a proper 'sitemap' for both the backend and the front-end, for usability's sake it should be poss

[2017-03-06 04:19] pvawser01 commented on #246
How often do we have a need for a Colour Picker? We don't want to be bringing in one off/custom features to KOI.
I would think this would fall into the custom functionality.

[2017-03-06 04:39] dbaines commented on #285
I don't think it would be possible for folder nav items since they are usually just a grouping. eg. Where would a folder "heaver navigation" go?
What about external links? Would we just use the same URL?
I guess at the end of the day if we really need to get around it we can just use "#"

I dig it

[2017-03-06 05:14] Obversity commented on #285
Yeah, it wouldn't be relevant to lots of folder nav items. But for stuff like "Fund My Community" in YourSAy, you could link to /admin/fmc_rounds. And yeah, worst case scenario you just use '#'.

External links is a good point. And yup, I suppose it could just be the same url. I think that'd feel reasonable.

[2017-03-07 00:33] pvawser01 commented on #240
I have created a branch and pull request for this issue. It seems to work. I tested it locally on the min_v2 upgrade project and we no longer see the translation queries. Would be good for someone else to try it and see if they can spot any problems. I may have overlooked some areas that may be affected.

[2017-03-07 06:24] Obversity opened #288 "Fix koi dependency issues, possibly with project-specific gem-set"
- Start Date: 2017-03-07
- Owner: PV
- RFC PR:

# Summary

Get gem-set per project, to hopefully mitigate dependency issues when running lots of different koi projects locally

# Motivation

Dependency issues reduce productivity significantly when jumping on a new project. Having a gem-set per project might help mitigate that.

# Detailed design

The KOI generator template could  be made to use th

[2017-03-07 06:26] Obversity commented on #288
@pvawser01 This is a bit loose, and I'm not even sure gemsets are the answer—does rbenv even support gemset or are they more of an rvm thing? I honestly don't know enough about the topic.

In either case, it'd be fantastic if for Koi 3 we could resolve the various dependency issues with gems and binstubs etc.

 Feel free to delete this issue, I just figured it'd be good as a reminder.

[2017-03-07 23:44] pvawser01 commented on #250
I'm all for a devise like generator to add the files you want to override. I think the default should be leave in koi engine and if you want to override, then you run the generator to show the files locally. One thing I have always been a bit frustrated with Devise(not a big deal but..) is that when you run the , say view generator, it adds all devise views to your application. Usually I only need

[2017-03-08 00:05] pvawser01 commented on #241
@jason Rails already has the ability to generate a preview of emails, so a lot of that work is done. All we ned to do is expose that functionality to the admin users. It is on fro development but off in production by default. There are plenty of people that have done this successfully. Just need to be careful that we don't open holes.
With regards to the dynamic values. W don't always have to have

[2017-03-08 00:10] pvawser01 commented on #239
@kippo Rather than a spread sheet interface would an inline bulk update feature be an alternative.
I see this as an editable index view, where you change the data on the records in the table and save all at once. May have issues with pagination, not sure.
Thoughts?

[2017-03-08 00:38] pvawser01 commented on #251
I've been using rails admin for a personal project recently. While I'm not completely sold on way they do things there is one thing I do like. When configuring the admin layer for a model, if an association is added, the admin edit view will allow you to add/edit the associated records form there. We saw this requirement for Oliveri with products and such. This might be a nice compromise for what

[2017-03-08 02:07] dbaines commented on #278
Merged

[2017-03-08 02:07] #278 closed

[2017-03-08 06:54] Obversity opened #289 "Readme's app bootstrap no longer work with new app.rb dynamically pulling in version"
@pvawser01  Yesterday I noticed that the readme hadn't been updated and the setup instructions (`rails new ... `) were still referencing an old tag/branch. So without thinking too much, I updated the readme and pushed. Then I tested the new instructions from github, and they failed.

![image](https://cloud.githubusercontent.com/assets/7999019/23693252/80624ee6-0423-11e7-9152-44ca94cb1abd.png)

It

[2017-03-10 03:51] Obversity commented on #289
@pvawser01  I seem to remember you saying this was fixed, Pete. Can this issue be closed?

[2017-03-10 13:40] dbaines opened #291 "Redesigned Login Page"
- Start Date: 2017-03-10
- Owner: DB
- Pull Request: https://github.com/katalyst/koi/pull/294

# Summary

Bring the login page up to date with the recent redesign

# Motivation

The current login page still references "Katalyst CMS" when it really should say Koi.

# Detailed design

Here's my current thinking:

* Replace "KatalystCMS" with "Koi"
* Expose the version number (via `::Koi::VERSION`)
*

[2017-03-15 00:44] jsidoryn commented on #285
It's worth mentioning that the site map is only a representation of the navigation on the front end and is not intended to be a way to edit all sections of the site.

That being said, if it a appears in the sitemap, there's an expectation that you can click on it to edit it in the admin. This seems like a good idea and adding validation ensures consistency.

Excluding folders seems sensible as the

[2017-03-15 03:48] jsidoryn commented on #241
@pvawser01 thanks for the input.

re preview, if you look at the sketches that kipp did, it implies that you add in an email address and press send and it will send it to the person. is this what you were thinking with a preview or were you thinking that it would simply display the email in the browser as html?

re building a templating system just for super admin, i think this is a comparatively

[2017-03-15 03:50] jsidoryn commented on #239
@pvawser01 i think this is what kipp is suggesting. @kippo ?

re pagination i'm expecting that either unfocussing the field would trigger an ajax action.

[2017-03-15 04:00] jsidoryn commented on #251
@pvawser01 this sounds like a different RFC? i'd support you writing one for this. would be ideal to have screenshots of how it works in your side project.

any thoughts on generating big of functionality with generators?

this RFC can probably focus on if there is any benefit from these types of generators.

using the product / order example, could it be the concepts of cart, checking out and pay

[2017-03-15 04:46] jsidoryn opened #293 "Upgrade Koi to Rails 5 and start Koi 3 branch"
- Start Date: 2017-02-09
- Owner: BP
- RFC PR: (leave this empty)

# Summary

This is the first step to kick of the development of Koi 3.

# Motivation

*Why are we doing this? What use cases does it support? What is the expected
outcome?*

# Detailed design

*This is the bulk of the RFC. Explain the design in enough detail for somebody
familiar with the framework to understand, and for somebody f

[2017-03-15 13:01] dbaines commented on #238
I just did a CKEditor upgrade pull request, while I was there I noticed there's now a .css file you can generate whose styles get pulled in to the editor.

This could be generated by Ornament, something like this:

[code]

This would generate a CSS file that pulls in the core (settings, resets, typography styles etc.), the normal "wysiwyg" aspect and then apply the aspect to the body, with a littl

[2017-03-15 13:19] dbaines commented on #238
Seems to work on the old CKEditor too, here I've done a quick version for YSA, could be patched in to projects as we need it pretty effortlessly.

![wysiwyg](https://cloud.githubusercontent.com/assets/685024/23950127/d43c49f2-09d9-11e7-9132-ade20aa1a9bd.jpg)

[2017-03-15 22:26] Obversity commented on #241
That gets my vote as well.

[2017-03-15 22:32] Obversity commented on #239
This needs much more in the detailed design section to be properly discussed. We can't talk pros and cons unless we all have a reasonably good idea of what's being suggested.

[2017-03-15 22:37] Obversity commented on #251
@jsidoryn I think this RFC was for backend templates, i.e. how an order show page might look in Koi to an admin. But it sounds like you're talking about front-end stuff? (Which actually could be a much more rewarding idea!)

[2017-03-15 23:45] Obversity commented on #238
Awesome!

[2017-03-16 01:50] dbaines opened #296 "Multiple Sitemaps"
- Start Date: 2017-03-16
- Owner: DB
- RFC PR:

# Summary

Expose a method of creating multiple sitemaps.

# Status

Work has started on this feature:
https://github.com/katalyst/koi/tree/feature/296-MultipleSitemaps

- [x] Create a method for creating multiple RootNavItems
- [x] Create routes to access a sitemap view that starts at a specific RootNavItem
- [x] Dynamically update the menu to show

[2017-03-16 03:08] dbaines opened #297 "Mega Menu Navitem"
- Start Date: 2017-02-09
- Owner: DB
- RFC PR:

# Summary

Better mega menu management.

# Motivation

Mega menus are hard.
The way we've done them in the past has been inconsistent and always kind of hacky.

Depending on the requirements of the website we may need any of these sorts of configurations:
* Only one top-level navitem is a mega menu, all others are regular drop-down menus
* All top-le

[2017-03-16 03:56] dbaines opened #298 "Subsite Processes"
- Start Date: 2017-03-16
- Owner: DB
- RFC PR:

# Summary

This isn't so much a request for a new feature, but more of a discussion of our internal processes.
How can we better manage subsites? Is there anything we can improve? Are we just amazing at them and we don't need to do anything?

# Motivation

We've done subsites a few times now. We're probably going to do a subsite again in the future a

[2017-03-16 04:19] Obversity commented on #298
RE Routes: I actually had a pretty simple solution to the problem of subsites having access to other subsites / the main site's content in YourSAy, but it required a major refactoring of the routes file and it never got deployed to production for whatever reason. (Basically all the main site's routes needs to live inside a scope themselves. I'm not sure why it didn't occur to me when we did the fi

[2017-03-16 04:25] Obversity commented on #298
I'm not completely sold on putting anything directly in koi to deal with this because (a) it's not super common, (b) the requirements for administration of these subsites is often quite different, and (b) it'd be a bunch of added complexity.

I definitely think there's value in documenting how we've gone about building subsites in the past, though, and what the learnings from it were. We've defini

[2017-03-16 05:21] dbaines commented on #296
So I've just remembered we have `RootNavItem` nav items. Currently we only have one RootNavItem and that's our main Sitemap one.

We could create new RootNavItems and use THOSE to create new Sitemaps.

The menu could loop over all RootNavItems and link to their sitemaps.
Routes could be created `/admin/sitemaps/<RootNavItem slug>` for each RootNavItem to have it's own sitemap page.
The "move to si

[2017-03-16 06:01] dbaines commented on #296
So I tested it.
I created a new `RootNavItem` and boom! I have a second sitemap! So cool.

![sitemapsforeverybody](https://cloud.githubusercontent.com/assets/685024/23983528/7ecb6a58-0a64-11e7-887a-6841182dd26c.PNG)

I was then able to get the navitem slug from the URL and render the rootnavitem that matched that slug:

![sitemap-custom](https://cloud.githubusercontent.com/assets/685024/23983740/a

[2017-03-16 06:53] dbaines commented on #238
@Obversity I suppose we could set up some nicer defaults in Koi, but as long as the CSS is in the project (which would be generated by Ornament) Koi will pick it up and run with it with no modifications to Koi required.

[2017-03-16 06:59] dbaines commented on #238
@kippo Do you think it's worthwhile copying across the default Ornament typograpahy styles in to Koi?

If the website uses the latest Ornament it will get actual type styles from the website, but if it's not (and we haven't made a custom ckeditor css file) it will get the default Ornament ones, like this. http://ornament.katalyst.com.au/styleguide/sample_content

Or should we just roll with the CK

[2017-03-16 07:20] dbaines commented on #238
Actually, I just realised webfonts are going to be an issue. We'd need to pull webfonts in to Koi from the application.

Ornament could move the webfont code in to a partial, like `app/views/layouts/_webfonts` or something, then Koi could pull it in if it's found, using the fancy new application helper `partial_with_wrapper`.

[2017-03-16 23:07] Obversity commented on #296
Awesome! Yeah, that definitely sounds handy.

I really like the idea of things being "sitemappable". I've been thinking of writing an RFC for using wrapper object for sites—i.e. a singleton (which clients can't delete) to capture homepage/sitewide content, rather than having it hard-coded or scattered around the place in modules. Things being 'sitemappable' would tie into that really well. If we n

[2017-03-20 00:50] kippo commented on #238
@dbaines I see no need to pull default Ornament styles in assuming CKEditors defaults are good.

[2017-03-20 02:42] dbaines opened #299 "Rich Text Editor - Basic Variation"
- Start Date: 2017-03-20
- Owner: DB
- RFC PR: (leave this empty)

# Summary

Provide a basic variation of CKEditor with stripped down options.

# Motivation

This came out of https://github.com/katalyst/koi/issues/249
Sometimes we have fields that should have bold, italic etc, but shouldn't have images or tables or other stuff.

# Detailed design

There are two ways I can see us doing this:

###

[2017-03-20 02:56] Obversity commented on #299
Definitely sounds good to me! I like option 2, where you can configure more toolbars for when you need them, and they can easily be reused.

I'm thinking we'd want a few default ones configured when you bootstrap Koi.  Maybe a basic one as you've used above, and maybe a basic + links one as well.

[2017-03-20 03:17] dbaines commented on #296
@Obversity That sounds really cool, I dig it.

I've updated the RFC with my findings on the `RootNavItem`.

[2017-03-20 04:26] Obversity commented on #297
I don't feel like I know enough about the topic to comment, but I do seem to recall it being difficult each time we do it, yeah. Having a solution in koi would let us suggest megamenus more readily, when we think they make sense, as well.

[2017-03-20 23:31] dbaines opened #300 "Breadcrumbs"
- Start Date: 2017-03-21
- Owner: DB
- RFC PR: (leave this empty)

# Summary

Show breadcrumbs in the Koi UI

# Motivation

Sometimes it's easy to get lost in Koi.
Especially with deep nested modules.

# Detailed design

![screen shot 2017-03-21 at 9 19 41 am](https://cloud.githubusercontent.com/assets/685024/24125245/b211aa56-0e17-11e7-8ba6-d244a31107cd.png)

[code]

# Drawbacks

Breadcrumbs are

[2017-03-21 00:52] dbaines opened #301 "Long index actions list"
- Start Date: 2017-03-21
- Owner: DB
- RFC PR: (leave this empty)

# Summary

Provide (possibly optionally) a nicer interface for actions in listing table.

# Motivation

Sometimes the index listing table gets pretty chockers full of actions:

![screen shot 2017-03-21 at 10 50 48 am](https://cloud.githubusercontent.com/assets/685024/24127422/6e55fe7c-0e24-11e7-8856-cf467c89bb26.png)

# Detailed de

[2017-03-21 01:29] dbaines opened #302 "View module record on site"
- Start Date: 2017-03-21
- Owner: DB
- RFC PR: (leave this empty)

# Summary

Provide a button to view the module record on the website.

# Motivation

Sometimes it can be awkward to find what you just created in Koi on the website.

# Detailed design

Something like this:

![view-on-site](https://cloud.githubusercontent.com/assets/685024/24128630/0e18bbd6-0e2d-11e7-8233-9f699c91d910.jpg)

Obvious

[2017-03-21 04:30] dbaines opened #303 "Rename Sitemap Modules"
- Start Date: 2017-02-09
- Owner: DB
- RFC PR: (leave this empty)

# Summary

Rename "module" sitemap navitems to something more sensible.
Review access of module navitems.

# Motivation

"Module" navitems made sense when they were originally made. They were intended to be links to the modules. However they have since been used as a way to link to anything from module links, pages, short urls to e

[2017-03-21 07:19] dbaines commented on #217
Reopening in bug format

[2017-03-21 07:22] dbaines opened #304 "Touch: Can't scroll over sitemap"
- Start Date: 2017-03-20
- Owner: DB

# Summary

Touch scrolling doesn't work over the Sitemap

# Steps to reproduce

View the sitemap on a touch device, lock the sitemap and then try and scroll the page.

# Expected results

The user should be able to scroll down the sitemap.

# Actual results

The user cannot scroll down the sitemap.

# Additional notes

I assume the nestedSortable script is nuk

[2017-03-21 07:25] dbaines opened #305 "Responsive / Accessible Sitemap"
- Start Date: 2017-03-20
- Owner: DB

# Summary

Sitemap is awkward to use on touch and keyboard.

# Steps to reproduce

Use a touch device or keyboard to add or edit nav items

# Expected results

The user should be able to access the edit menus.
Possibly showing the menu with `:focus` would get us mostly there.

# Actual results

The menus are mostly inaccessible.
Navitems that don't have any vi

[2017-03-21 22:30] Obversity commented on #300
I agree, there's pretty obvious up front value in breadcrumbs. And yup, the real question is how we can actually do it, without having to re-architect the whole thing, lol. I'll give it some thought!

[2017-03-21 22:40] Obversity commented on #300
1. We don't have a listing page for 'modules'. Would we want modules as a link in the breadcrumbs? Should that be the dashboard, maybe?
1. Would we want it to include nested resources?

    I.e. if you're at the route

    `admin/discussions/make-koi-great-again/comments/i-think-its-pretty-cool`

    Would we want the breadcrumbs to include the discussion?

    i.e.

    `Modules > Discussions > M

[2017-03-21 22:43] dbaines commented on #291
Merged

[2017-03-21 22:43] #291 closed

[2017-03-21 22:51] Obversity commented on #301
It'd be good to see what other content management systems do for this. I like the idea of an 'actions' menu, but I agree that it's weird that most of them are in fact relationships (i.e. nested modules) not actions. A select menu / dropdown could work, though!

[2017-03-21 22:58] Obversity commented on #302
I can definitely see the value in this, but I think it'd be  quite a bit of work to achieve per project, since we'd probably need to hardcode this per module, as our front-end routes aren't standard. A lot of things also don't have a 'show' page on the frontend (e.g. homepage tiles, or a resources module with no show page).

It could be worth it, though. (It'd be a similar amount of work per-proje

[2017-03-21 23:07] Obversity commented on #303
Definitely worth doing! 'Module' is not very intuitive. I think I'd be in favour of 'link', because URL kind of implies it needs the http protocol + hostname, not just the path.

It might be as easy as renaming the class (in all locations). I don't think that'd even cause too many hassles upgrading, since I don't think I've ever seen us override Module Nav Item in the project.

I don't think we ne

[2017-03-21 23:07] dbaines opened #306 "Theme CSS doesn't compile on development by default"
- Start Date: 2017-03-22
- Owner: TBA

# Summary

In development the Koi engine's sass isn't taking new application files in to account when compiling the CSS file.

# Steps to reproduce

1. Run server in development mode
1. Create a new file `app/assets/stylesheets/koi/_overrides.scss`
1. Write: `$primary-color: blue;` in the file
1. Save the file
1. Reload your page

# Expected results

The prim

[2017-03-21 23:10] dbaines commented on #303
That's a good point, I agree.

[2017-03-21 23:11] Obversity commented on #217
We should probably re-think these charts from scratch. They're something we never use because the DSL isn't documented and the configuration isn't at all intuitive, and they're implemented *very* inefficiently, with all the calculations / filtering / grouping being done in Ruby, when at least some of it should probably be done in the database.

[2017-03-27 23:11] dbaines opened #307 "Pagination doesn't indicate there are more pages"
- Start Date: 2017-03-28
- Owner: DB

# Summary

Pagination doesn't indicate that there are more than 5 pages.

# Steps to reproduce

1. Find a model with more than 5 pages of records
1. Click on page 5

# Expected results

I expect page 5 is the last page

# Actual results

There are actually more pages

# Additional notes

Should be an easy fix, Kaminari has "gap" elements that you can render wh

[2017-03-29 01:30] Obversity commented on #307
@dbaines

Nice find! I witnessed this on Fringe the other day with competition entries. 26k records in the database, but only showing page buttons up to 5. Didn't think much of it until I read this.

[2017-03-29 03:25] jsidoryn commented on #303
The idea of the sitemap is that it reflects the navigation that is build on the front end. These are made up of 'Pages' and links that go into a module of some sort. The term 'module' is a little ambiguous as you say. It could be going directly to a contact form or a list of products or anything really.

The main purpose of it being in the site tree is so that if they client wishes to move it arou

[2017-03-29 03:30] jsidoryn commented on #302
Seems like it would be useful for clients. Could you have something in the Koi config that specifies the path to the show page. If it isn't included then the button doesn't display.

Maybe the general case could be solved and even auto generated and the tricky ones just need to be done by hand.

[2017-03-29 03:34] jsidoryn commented on #301
Definitely needs better solution.

I quite like overlays for this kind of thing. So a full screen overlay with big buttons that are easy to press. This works nicely on mobile as there's a bit tap zone and I'd argue is just as usable on desktop. In some ways more useable as your focus is drawn to the single task at hand.

[2017-03-29 03:39] jsidoryn commented on #300
My preference is to make a more powerful search as you've already started doing @dbaines in the nav search. If this was a spotlight type feature then this would become less important.

I'm not sure if this is something I want because it's how I search already. Clients who may be more point and click may value bread crumbs much more.

When they are deeply nested it becomes a bit messy in the UI. Ma

[2017-03-29 03:49] jsidoryn commented on #299
I think we can could make the default much simpler.

Remove the different paste options and just keep paste as plain text (do we trust paste as word?)
Remove search
Remove the b -> a thing (don't even know what it does?)
Not sure what the paragraph thing next to it is for?
What's the one top right? Remove?
Remove underline
Remove indenting - and maybe add one for 'block quotes'
Remove table

I thi

[2017-03-29 03:51] Obversity commented on #301
I'm not sure I understand your proposal, @jsidoryn. Would you click a button (maybe titled "actions"), then it'd come up with a modal with links to the actions / relationships in it?

If that's what you're suggesting, it seems like overkill to me, and not great UX in my opinion, since on desktop, you'd have to move your mouse *way* further than you currently do. Do you have an example of an UI tha

[2017-03-29 03:58] Obversity commented on #303
My main gripe is that I don't think 'module' is a very clear term at all, to clients *or* to developers. I remember when I started at Katalyst, I was definitely confused by it for a month or two, and Pete's asked me questions recently about exactly what module nav items do as well.

I'm in favour of the easy solution, 2: leaving the structure basically how it is, changing the permissions so regula

[2017-03-29 04:03] Obversity commented on #300
I don't see Breadcrumbs and Search as being all that related.

For example, if I'm viewing a comment at the url

`admin/discussions/make-koi-great-again/comments/i-think-its-pretty-cool`

And for some reason I want to go back and view details about the discussion (i.e. I want to go to the url `admin/discussions/make-koi-great-again/`) then a koi module search isn't going to help me at all, but Bre

[2017-03-29 04:09] Obversity commented on #299
@jsidoryn You can mouseover the icons to work out what they do.

[2017-03-29 04:10] dbaines commented on #299
@jsidoryn

I definitely don't think we should make the default simpler. We will be forever adding them back in for clients that need/want them.

I'm strongly opposed to stripping these things out:

* Paste options from word (not relevant what we use it for, we don't use it, the client does)
* Search and replace (has been requested several times)
* Top right is show blocks so you can see the elemen

[2017-03-29 04:12] dbaines commented on #300
@jsidoryn

Yep I agree with Bill. Breadcrumbs aren't search and I personally think it's even more valuable than not when you're deeply nested. It's about knowing where you are not about navigating somewhere else.

[2017-03-29 04:16] Obversity commented on #299
I definitely agree with Dave here. I'd rather have a default with lots of options that we can very easily strip back, than have a default with few options that we have to remember to add more options when we guess that the client might want it.

This would be different if these options were a performance problem, slowing the editor down or something. But they don't seem to be, or at least not sign

[2017-03-29 05:34] pvawser01 opened #308 "Alternative hosting"
Start Date: 2017-03-29
Owner: PV

# Summary

Improve hosting options for both cost affectiveness and maintainability of server infrastructure.
Cost considerations need to be for both client budgets as well as Katalyst's.

# Motivation

Currently we have quite a number of client applications lumped together on shared servers. While this keeps our hosting costs lower, it does cause issues with regar

[2017-03-29 06:33] Obversity commented on #308
Definitely worth looking into!

I think I'd only be in favour of this if we could streamline it to nearly the same degree as with Engineyard, though.

Some thoughts:

- We'd want to keep Karo as a deployment tool for consistency, even if it just triggers Capistrano (or something similar) under the hood
- Ideally we should keep the folder structure on the server as similar as possible. Mainly I jus

[2017-03-29 06:49] Obversity commented on #308
It'd also be good to list what our VPS options are, and work out whether they need to be Australian for legal purposes.

Popular / cost effective options:

- http://linode.com/pricing
- https://www.digitalocean.com/pricing
- https://www.vultr.com/pricing

I know that Vultr has Australian servers (in Sydney), while Linode and Digital Ocean do not. Keep in mind that some Australian ISPs have awful r

[2017-04-01 14:56] dbaines opened #309 "Composable Content"
- Start Date: 2017-04-02
- Owner: DB
- Pull Request: https://github.com/katalyst/koi/pull/343
- Branch: https://github.com/katalyst/koi/tree/feature/composable-webpacker

# Summary

Provide an interface for users to compose content made of blocks of components.

The end-goal is for a user to edit a page and be able to compose their page of all sorts of different components. They should be able to

[2017-04-02 23:51] Obversity commented on #309
This could be implemented similarly to Searchable and Slugged etc, i.e. `has_crud composable: true`

[2017-04-03 00:56] pvawser01 opened #311 "Implement Role based config for users"
- Start Date: 2017-04-03
- Owner: PV
- RFC PR:

# Summary

*Provide ability to implement role based user security.*

*When a system requires multiple user types(roles), it would be useful to standardise how we implement this type of feature.
Generally a gem like cancan is used to provide a simple yet effective way to ensure a users role should have access to certain functionality within the applic

[2017-04-03 01:33] Obversity commented on #311
Pundit has been a pretty popular alternative for a while. I used it in the YourSAy API and it was pretty easy to work with in that context. That said, my use of it was pretty limited, and cancancan wasn't too difficult to work with on the few times I've had to touch med.

As you mention, this might not be such a bad thing, as long as we make it reasonably flexible and architect it well.

Agreed! H

[2017-04-03 01:48] pvawser01 opened #312 "Add test templates to KOI generators"
- Start Date: 2017-04-03
- Owner: PV
- RFC PR:

# Summary

*KOI already has generators to create models, controllers and such. However, automated tests (feature tests and or unit tests) are something that is ignored. Extending the current generators to also add test templates might be a good way for us to start building mor robust application by utilising the benefits of automated test.*

# Motiva

[2017-04-03 01:59] pvawser01 opened #313 "generator for Image/video gallery"
- Start Date: 2017-04-03
- Owner: PV
- RFC PR:

# Summary

*Add generator for add in generic gallery functionality to an existing model.*

# Motivation

*We seem to regularly have the need to add gallery functionality to applications. While not so difficult to implement, it is boiler plate code that could be added as a generator , thus allowing devs to spend time on business logic rather than boil

[2017-04-03 02:11] pvawser01 opened #314 "generator for basic checkout and cart functionality"
- Start Date: 2017-03-04
- Owner: PV
- RFC PR:

# Summary

*Having a standard approach to shopping cart functionality (backend) would be useful in saving time in the setup and implementation of common functionality that most all carts/checkouts have.*

# Motivation

*Since starting at Katalyst, I have been involved with implementing about 3 or 4 shopping carts.*
*While some have very specific work

[2017-04-03 02:18] pvawser01 opened #315 "generator for search functionality"
- Start Date: 2017-03-04
- Owner: PV
- RFC PR:

# Summary

*Add a generator to KOI to Implement basic search capabilities to a project.*

# Motivation

*Whenever we require search functionality in a project we typically implement it the same way. Thinking sphinx.*
*Having a generator to hook this functionality up would be a time saver in the development process.*

# Detailed design

*A generator c

[2017-04-03 02:26] pvawser01 opened #316 "pdf generation of data"
- Start Date: 2017-03-04
- Owner: PV
- RFC PR:

# Summary

*Ability to export data in PDF format from KOI or even form front end.*

# Motivation

*Typically data is exported from applications, build by Katalyst as csv. While this is suitable for large number of records, there may be times where data would be better suited in some other format such as PDF. Reports for example*
*PDF's can be dynamic

[2017-04-03 02:33] pvawser01 opened #317 "Generator to add api boiler plate code"
- Start Date: 2017-04-03
- Owner: PV
- RFC PR:

# Summary

*Add generator to allow for faster implementation of secure API functionality*

# Motivation

*Interaction with external systems is becoming more and more prevalent. It could be a handy to have a generator to implement the basic structure and authentication layer for an API to the applications we build.*

# Detailed design

*While the spec

[2017-04-03 02:40] pvawser01 opened #318 "Profanity filtering as koi default implementation"
- Start Date: 2017-04-03
- Owner: PV
- RFC PR:

# Summary

*Profanity filtering would be good to have as a default for all applications. *

# Motivation

*As it seems that our standard implementation of this behaviour is the same from project to project, it seems fitting that it be implemented by default for all new projects.*

# Detailed design

*As part of the project template we could add the i

[2017-04-03 03:44] pvawser01 opened #319 "Contact form and recaptcha generator"
- Start Date: 2017-04-03
- Owner: PV
- RFC PR:

# Summary

*Add generator to KOI to build default contact form with recaptcha protection*

# Motivation

*We have had a number of issues with different clients where the public contact form was being hit by bots attempting DOS attacks.*
*As all sites these days have a contact form, it could be useful to have a generator to implement a default contact

[2017-04-03 03:57] pvawser01 opened #320 "Template to set projects as SSL by default"
- Start Date: 2017-04-03
- Owner: PV
- RFC PR:

# Summary

Modify KOI template to configure applications to use ssl by default.

# Motivation

Given the direction google are moving with regards to ssl. It would be a good idea to make all our apps ssl enabled by default.

# Detailed design

This really just means setting the application setting to force ssl. We would still need to ensure that ssl c

[2017-04-03 04:02] Obversity commented on #315
Can we rename this to "sitewide search", rather than just search? A lot of the search features we build are custom, and are not built with thinking sphinx—Fringe event search, oliveri sink search, fmc idea search, scc location search, etc.

This is probably worth looking into first, yeah. Would it be possible to use Postgres's built in fulltext search? I know the [pg_search](https://github.com/Cas

[2017-04-03 04:06] Obversity commented on #316
@pvawser01 Could you name a couple of cases where this has come up with a client, or maybe where it'd have been nice to be able to offer them a pdf export of something in Koi?

Yeah, pdf reports would be a pretty neat addition to any improved reporting tools we build. On the other hand, our usual graphing tools are javascript based, which in my experience don't play nicely with the PDF libraries a

[2017-04-03 04:08] pvawser01 opened #321 "Generator to add default config to deal with CORS"
- Start Date: 2017-04-03
- Owner: PV
- RFC PR:

# Summary

Add generator to implement default CORS configuration.

# Motivation

We have had a couple of instances where our apps need to communicate with 3rd party systems using ajax. A generator to implement a default CORS solution would save time and trying to remember how to implement the same thing over

# Detailed design

When solving the CORS

[2017-04-03 04:11] pvawser01 commented on #316
@Obversity Hasn't come up yet. It is more of a future direction thing. I've built plenty of things over my years that need to generate dynamic pdfs. It's just something we could consider.

[2017-04-03 04:27] Obversity commented on #317
It'd be awesome to have an API generator, definitely!

We'd have to agree on an API tool. The koi:admin_controller generator currently generates `ActiveModel::Serializer` classes for your model, so we could keep using that for serialisation maybe. As for the controller layer, I'd be happy using just inherited_resources controllers, maybe with some smart defaults, and helpers baked in for authoriza

[2017-04-03 04:35] Obversity commented on #318
This might be good to have as a Concern that we can include where needed, e.g.

`has_crud filter_profanity: true`

I don't think we'd want to make it on-by-default though. You'd catch too many false positives. I'd rather let the occasional user submit a form with bad words in it than let the occasional user not submit their content because "summa cum laude" apparently contains bad words.

[2017-04-03 04:38] pvawser01 opened #322 "CI Server (Development tools/process)"
- Start Date: 2017-04-03
- Owner: PV
- RFC PR:

# Summary

Building a Continuous integration server to help improve delivery times of completed feature.
This works very well in conjunction with proper agile methodologies. ("Deploy early deploy often")

# Motivation

We have often found ourselves in situations where features that have been completed and are working are delayed for deployment. When

[2017-04-03 04:39] Obversity commented on #319
I like the idea of a generator for a contact form, but it might be worth thinking about whether or not we can just improve the mailer generator to the point where it does 90% of the work for a contact form. A `--with-recapcha` flag for the mailer generator would be amazing.

[2017-04-03 04:41] pvawser01 commented on #317
@Obversity Yeah. I think were on the same page here. I like the idea of generating the documentation too. Often that part gets neglected. Think we could do something pretty cool with this to make api's a breeze.

[2017-04-03 04:42] Obversity commented on #320
Sounds like a great idea. 😄

We might need to document our ssl purchase / setup process a little better though.

[2017-04-03 04:44] pvawser01 commented on #319
@Obversity True that could work. I was thinking that a specific generator could also help with the whole ui set up too. Bootstrap a basic template for contact then Dave could weave his magic over it. Might be overkill. Just though it is usually just boilerplate. Even the view to have a basic form in place.

[2017-04-03 04:45] pvawser01 commented on #318
@Obversity Bahaha. I like your example. You've got a point though. I like the idea of it being a concern like that. Fits better with the KOI way I guess.

[2017-04-03 04:47] pvawser01 commented on #320
@Obversity Just not sure how well lets encrypt plays with Engineyard. It is just unix but if we stray too far from the EY way were asking for problems. With VPS hosts it becomes very doable.

[2017-04-03 04:49] Obversity commented on #322
I'd be happy to trial this on a greenfield project, but yeah, we'd need to be very disciplined about testing from the start.

[2017-04-03 04:58] Obversity commented on #319
Yeah, my thinking was that lots of our sites take submissions other than just the contact form, and we almost always use the mailer generator for bootstrapping front-end forms, so having it optionally generate recaptcha stuff would be great. It'd need to:

- add recaptcha_tags to the form
- add the recaptcha verification logic to the controller
- add the gem if necessary
- add the initializer if n

[2017-04-03 04:59] dbaines commented on #319
Would we make the API key something they could enter in to their Site Settings area or would it be better suited in `application.yml`?

[2017-04-03 05:01] Obversity commented on #319
We usually use the application.yml for recaptcha keys I think, but I don't see why it couldn't be done in site settings instead, now that you mention it.

[2017-04-03 05:06] Obversity commented on #314
Is there enough commonality between the carts we've built to abstract much?

I've only dealt with cart stuff peripherally with oliveri / fringe, usually on days when you're not available, so I can't really comment on this one, lol. I think you're the one who suffers the most from not having anything pre-built.

Well, you, and our clients, when they have to foot the bill.

[2017-04-03 05:07] dbaines opened #323 "Renaming Tabs"
- Start Date: 2017-04-03
- Owner: DB
- RFC PR: (leave this empty)

# Summary

Consider better naming for the tabs that appear on index and form pages.

# Motivation

It only just dawned on me that they aren't really user friendly. What is "main", and what is "general"? Maybe this is why users can't find settings because they are under "general" instead of settings.

# Detailed design

![koi-tabs](

[2017-04-03 05:08] pvawser01 commented on #314
@Obversity enough said. If I'm suffering it's in. hehe.

[2017-04-03 05:09] Obversity commented on #313
Sounds great. 😄

I'm not sure the markup would always be the same, so that's probably up to @dbaines.

[2017-04-03 05:10] dbaines commented on #313
The markup would probably change project-to-project but having one generated isn't a bad thing.

[2017-04-03 05:16] pvawser01 commented on #322
@Obversity  Yup!

[2017-04-03 05:24] Obversity commented on #312
It's definitely not my forte, yup. What testing framework are you most familiar with? I'd suggest we go with that, so at least the initial hurdle of setting it all setup won't be too tricky, and you'll be able to school me in the various types of tests you think are worth doing.

I've done a tiny bit of testing in Rspec but I'm not at all attached to it.

[2017-04-03 07:34] dbaines opened #324 "Settings"
- Start Date: 2017-04-02
- Owner: JS

# Summary

[Settings](https://github.com/katalyst/koi/wiki/Settings) needs a re-think from the ground up.

# Motivation

Settings are getting used more and more. It's generally a catch-all place for collection-related data that has nowhere to live in the database.

There are several issues with settings as they currently exist.

From a development point of vie

[2017-04-03 08:00] dbaines commented on #324
FYI I've created a pull request with some better default settings:
https://github.com/katalyst/koi/pull/325

[2017-04-03 08:13] dbaines opened #326 "Nicer fallback for untitled records"
- Start Date: 2017-04-02
- Owner: TBA

# Summary

Create a smarter fallback for records that can't determine a title:

![screen shot 2017-04-03 at 5 39 17 pm](https://cloud.githubusercontent.com/assets/685024/24600597/88edc66e-1894-11e7-8a0b-4a39692138b0.png)

# Steps to reproduce

Don't add a `to_s` method on a model, or [define a fallback title in the crud_config](https://github.com/katalyst/koi

[2017-04-03 08:17] pvawser01 commented on #312
I'm guilty also. Personally I like minitest as you don't introduce new gems as it's already in rails. That said rspec reads better with cucumber. The problem I have found in the past is people start writting their own dsl for things and you end up with 10 different ways to describe clicking a button. It would be good to define a simple common language for tests and just use those. At the end of th

[2017-04-04 00:20] Obversity commented on #324
So I've noticed that we can actually declare settings in the model if we want to

[code]

There's still no way currently to reorder these, but we could probably modify the `setting` method to maintain a list of the settings its generated for a model, which we could then use on the front-end to order them nicely, as per the order they were declared in the model.

[2017-04-04 00:34] dbaines opened #327 "Alternate display for white images"
- Start Date: 2017-04-04
- Owner: DB

# Summary

Provide an alternate view for white images, rather than showing the white image on a white background.

# Motivation

When someone uploads a purely white image (eg. a white logo) you can't see it since it gets shown on a white background.

![screen shot 2017-04-04 at 9 43 55 am](https://cloud.githubusercontent.com/assets/685024/24636695/48bb6506-191

[2017-04-04 00:59] Obversity opened #328 "Extracting koi crud config from the model"
- Start Date: 2017-04-04
- Owner: BP
- RFC PR:

# Summary

Koi crud config could be extracted from the model into a concern.

# Motivation

Our models sometimes get very large and messy, and often, a lot of it is just koi crud config. Some developers find this ugly / hard to work with.

# Detailed design

Without changing the way anything in Koi works, Crud config could instead live in a concern.

[2017-04-04 01:09] dbaines commented on #328
I don't think that's too big of an issue. If someone is looking at `SuperHero.rb` for the Koi Config, they can see an `include SuperHeroConfig` and should be able to put two and two together.

Since it is specifically for Koi, should we include Koi in the naming convention somehow? `SuperHeroKoiConfig` for example? Might get a bit unnecessarily verbose.

[2017-04-04 01:18] Obversity commented on #328
I'm in favour of keeping it as concise as possible. I don't see rails or any other gem we'd use bringing out a `<ModelName>Config` convention any time soon, so we're probably safe to use it ourselves.

[2017-04-04 01:56] Obversity commented on #327
I reckon a grey background is probably the best, cheapest, least confusing option.

Yeah, I don't think it's something we'd want to spend heaps of time on, heh.

[2017-04-04 05:23] jsidoryn commented on #309
Amazing work! Thanks for writing this up in so much detail. I've been having a look at Craft as well and this feature is pretty cool.

My main question around this is if you have had any thoughts about urls & routes. Say we had a news items module. If you wanted to just show a list of news items, I'm assuming you'll just keep thinks as they are ie /news_items.

If you want to make it composable an

[2017-04-04 05:36] jsidoryn commented on #324
All looks good and agree brining it out of the view is good. Does anyone have any thoughts on how this could work from a UI perspective? Also with the current implementation of setting in model, can you specify if this is for collection or member?

Are you thinking a page in the admin for settings and then each page can be found there with settings. Or would it be similar to how it is now with set

[2017-04-04 05:37] jsidoryn commented on #328
Could this be optional? For simple models it might be nice to have it right there but as things get more complex it might be nice to push it into a concern?

[2017-04-04 05:38] dbaines commented on #309
Interesting question. I hadn't considered collection views at all in this.

We could maybe add a composable as a setting to the NewsItem, much in the same way we would create a setting if they needed intro text for example.

Any composable that's added to a collection view could get a special "collection" component that they can use to determine where the collection appears in line with everything

[2017-04-04 05:40] jsidoryn commented on #327
I don't think it can be black as same issue if black text.

Grey has the least chance of clashing and as low priority and low effort might just be worth going ahead with it.

[2017-04-04 05:49] jsidoryn commented on #311
I've seen a lot of love for Pundit also more recently. Probably between either pundit or cancancan.

@pvawser01 what do you see being generated? I would expect that roles are very specific to the project and so little could be generated. Or are you thinking include the addition of the gem to the gemfile when generating a user on the front end?

[2017-04-04 05:57] jsidoryn commented on #315
if we can use pg_search that would be preferable. spinx is pretty heavy from what i understand and requires some setting up. it would be great to have a search we can turn on 'out of the box' so to speak. if pg_search doesn't deliver what the client is after then we can look to other solutions and charge for it.

the least a client requires is a direct match, showing a snippet before and after of

[2017-04-04 06:01] jsidoryn commented on #316
@pvawser01 are you thinking that this is something that should be built into koi in some way? I think we generate PDF's in Givematcher and I'm sure we've done it in other places. Or are you just suggesting that we research gems and create a process for this should the need arise?

[2017-04-04 06:01] pvawser01 commented on #311
@jsidoryn I haven't used Pundit. However, I see a generator adding required gems and in the case of cancancan, it could create a base ability file with some sensible defaults. It could even be more useful if you pass it a list of roles it could create the appropriate convenience methods for roles in the ability file. Basically create a default structure that would, I guess initially give all roles

[2017-04-04 06:24] Obversity commented on #324
Yup, we did something similar for Stand, but doing it for individual settings would be tricky. It needs a url to go to, and at the moment, there isn't a url for individual settings (I think I just made it go to the settings tab for Stand).

These are just collection settings. I don't think we ever use per-member settings for anything other than SEO. In 99% of cases, if you want some information st

[2017-04-04 06:29] Obversity commented on #328
I mean, it's already optional. We're just opting into not doing it at all, at the moment. 😛

But yes, I suppose we could make it optional in the generators somehow, maybe with a flag or something. I think that'd be more effort than it's worth though. Consistency is better than marginally improved simplicity, in the long run, in my opinion. As in, if we go ahead with this, I'd rather know that on n

[2017-04-04 06:34] Obversity commented on #315
It looks like pg_search does support 'highlights', i.e. matching snippets. (Haven't tried it yet.)

[2017-04-04 07:15] dbaines commented on #324
### Settings section

If we're putting all settings in to a single interface, we could seperate out setting pages using the already existing tabs:

![screen shot 2017-04-04 at 4 21 28 pm](https://cloud.githubusercontent.com/assets/685024/24644462/d72c679a-1952-11e7-95ff-5c14aeecc795.png)

This would make searching between main site settings and module settings a bit weird as they wouldn't all be p

[2017-04-04 07:25] pvawser01 commented on #316
@jsidoryn I was thinking that the basic plumbing for pdf generation could be built in, so that if a client did require PDf generation of data, some of the scaffolding could be generated in a standard way. No reason, you couldn't have functionality for this in KOI. Say for instance a client had has orders in KOI that get processed and the admin wants to send a PDF attachment of a generated Con note

[2017-04-04 23:39] jsidoryn commented on #328
@Obversity that makes sense. as we're usually doing fuzzy search in our editors, only having one place to look will make it quicker.

so is there any consensus on moving it out? @pvawser01 ?

[2017-04-04 23:42] jsidoryn commented on #318
@pvawser01 could you explain a bit more about how this would work. is this essentially a validation criteria so if someone submits a form it shows an error? or does it get submitted with the words removed or something else?

[2017-04-04 23:46] jsidoryn commented on #320
i think this one is a must.

will be worth looking into lets encrypt, i know there are solutions for auto renewing before the 3 months are up.

is not having wild card much of a problem? the main problem i see is if we have a multitenanted site that creates sub domains on the fly. in that case we could simply use something else.

another issue that needs to be solved with this is the problem we we

[2017-04-04 23:53] jsidoryn commented on #319
Since this is done so much this is a great candidate to streamline.

Thinking these are the things that could be autogenerated
• the form (with re-capture)
• thank you page
• email (optionally to the submitter and / or specified email address)
• admin - reverse chronological order (if not already) and configure table columns
• set up a dashboard widget (related to dashboard RFC)

[2017-04-04 23:55] Obversity commented on #328
Just to be clear, I'm not necessarily pushing for moving it out. I'm undecided. I'm just raising it as a possibility. Maybe we could trial it on a greenfield project at some point, see how it feels.

[2017-04-05 00:00] Obversity commented on #318
@jsidoryn, YourSAy discussions have a profanity validation. Give it a shot on staging. There's at least one decision with an open discussion at the moment.

Implementation wise, it might need to be something more like

`has_crud filter_profanity: [:field1, :field2]`

now that I think about it. Or we could validate for profanity on *all* string/text columns, I suppose.

[2017-04-05 00:06] Obversity commented on #319
I'm still wary of adding a whole new generator that's so similar to an existing generator.  It's definitely worth seeing whether we can extend the mailer generator to account for most of our needs for a contact form.

[2017-04-05 00:18] pvawser01 commented on #328
@jsidoryn Moving it out to a model can have two benefits. I the admin config can be loaded at initialisation rather than each time a model is instanciated. Also, it keeps the domain logic seperated.

I'd be ok with it.

[2017-04-05 00:32] Obversity commented on #328
What do you mean by 'initialisation' here? Crud config is currently loaded when the model is evaluated, not when a model is instantiated (e.g. `MyModel.new`).

![image](https://cloud.githubusercontent.com/assets/7999019/24684566/27d7f8c4-19e6-11e7-9175-cbbed637fa9c.png)

[2017-04-05 00:35] pvawser01 commented on #320
@jsidoryn Not sure what this issue is?

[2017-04-05 00:37] pvawser01 commented on #318
@jsidoryn Like @Obversity mentioned. I guess I am suggesting a basic standard setup with sensible defaults. If there are specific requirements, we can customise the set up but at least the implementation boilerplate is done.

[2017-04-05 00:39] dbaines commented on #319
Yeah I'm definitely in favour of extending the mailer generator, since it already does most of that.
As Bill mentioned we just need a way toggle a widget and recaptcha as flags.
I'd be in favour of having recaptcha by default though, and having a `--no-recaptcha` flag instead.

And an option for this too would be good. Sometimes we need emails just to go to the admin. Sometimes we need it to go th

[2017-04-05 00:42] pvawser01 commented on #319
@Obversity  Having a specific generator is no a bad way to go. If you look at the default requirements for a contact form, keeping it seperate keeps the generator with a single task rather than complicating an existing one.
Given that pretty much all oour sites have contact forms, is why I originally thought adding it as part of the boot strap template might be more suitable.

[2017-04-05 00:46] jsidoryn commented on #314
yep, my gut feel is that there's probably enough commonality that we could extract something useful. could also include integration with stripe out of the box.

[2017-04-05 00:48] jsidoryn commented on #313
sounds good. @pvawser01 could you add some links in the above write up to example of galleries we've built in the past.

[2017-04-05 00:51] jsidoryn commented on #322
@pvawser01 definitely a key part of the stack but i think the trigger is 'when tests take too long to run'. at the moment i'm assuming that's not an issue and there might be another RFC around the writing of tests.

[2017-04-05 00:54] dbaines commented on #319
I think the discussed requirements of a contact form extend directly in to mailers in general to be honest. Being able to add captcha, dashboard modules and multiple mail sends would directly benefit all mailers, not just contact forms.

We could create a generator specifically for a ContactForm model, but I'm assuming it would just be a mailer generator anyway with some default fields and flags.

[2017-04-05 00:56] jsidoryn commented on #320
@pvawser01 that problem we have with ssl sites not showing the lock...

we were talking about using cloudflare and sni as ways to get around it

[2017-04-05 00:57] jsidoryn commented on #318
@Obversity @pvawser01 thanks for that. i hadn't seen it in action and was just wondering how it was implemented.

[2017-04-05 00:58] pvawser01 commented on #319
@dbaines Agreed. However, I think there is enough commonality to create a base setup

[2017-04-05 01:01] pvawser01 commented on #320
@jsidoryn I think that was YSA. That could be resolved by just using the https s3 url to assets. If clients want custom domains, then they need to be aware of additional costs. I think that is probably a project specific discussion and not really for this  RFC to debate.

[2017-04-05 01:55] dbaines commented on #309
I've added data samples to the RFC to see how the data gets saved from the react client, and how it gets merged in to sections ready for front-end build.

[2017-04-05 02:10] jsidoryn commented on #309
Here's a few clarifications after chatting with @dbaines that may be obvious but wasn't to me.

The idea for this is that if adding to an existing model, it should be appended at the bottom.

If it's for a 'page' then there may just be the title field with everything else composable.

Another question is if there's a better way to handle validation. It's not great having two types of validation me

[2017-04-05 03:51] Obversity commented on #320
I agree with @pvawser01. If we go with S3 as the default setup for assets, https *isn't a problem* unless they require those assets to look like they're downloading from the same domain—in which case they need to pay for it.

In 99% of cases, as the digital experts, we should be able to convince the client that it's not important for assets to look like they're downloading from the same domain.

[2017-04-05 04:22] Obversity commented on #309
@jsidoryn Not without quite a bit of effort, I'd guess, and we'd then need to push those errors to the react components, which would then need to deal with them.

I get that inconsistency isn't great, but I don't see it as a huge deal, either.

Worst case scenario, let's say a client doesn't fill in the title of the page, and doesn't fill in required fields in field types. They click submit, it in

[2017-04-05 05:29] dbaines commented on #309
FYI regular simple form fields will also use HTML5 validations now that I've enabled it in the simple form initialiser, eg:

![screen shot 2017-04-05 at 2 58 39 pm](https://cloud.githubusercontent.com/assets/685024/24691067/78cc9cd8-1a10-11e7-9121-0ae1fbc21016.png)

[2017-04-05 06:29] Obversity commented on #309
Does that effect the front-end as well?

[2017-04-05 06:35] dbaines commented on #309
It does! As long as the front-end is using simple-form.

You can disable it if it's getting in the way with [the `novalidate` attribute](https://www.w3schools.com/tags/att_form_novalidate.asp):

[code]

[2017-04-06 05:51] dbaines commented on #327
Yep I agree, I reckon a medium-grey should get the job done.

[2017-04-10 02:04] jsidoryn commented on #320
@Obversity paying for it isn't an option. asking someone to pay $7,200 USD each year for their assets to come from a sub domain is not an option.

It is a problem for clients when they paste a link to a pdf and it doesn't look like it's coming from their site. This was important to YourSAy.

We may end up in the same place but I don't think we've properly examined the options. One of them being ho

[2017-04-10 02:09] jsidoryn commented on #309
Ok, let's shelve the discussion on validations for the moment. I feel pretty strongly about validations working consistently for the user. I secretly love forms and this makes me feel uneasy. If it's just in the admin then the trade off might be worth it though.

More investigation is needed but this is plenty for this RFC.

[2017-04-10 02:34] Obversity commented on #320
I'd argue that in most cases, they shouldn't be pasting raw urls, and should instead be creating links.

I.e.

    [Click here to download this pdf](http://assets.yoursay.sa.gov.au/staging/2017/02/14/05/38/26/0fa279e1-330c-482a-9734-23c338fb929c/Test%20Pdf%204.pdf)

Rather than

    http://assets.yoursay.sa.gov.au/staging/2017/02/14/05/38/26/0fa279e1-330c-482a-9734-23c338fb929c/Test%20Pdf%204.pdf

[2017-04-10 02:40] Obversity commented on #309
It makes you feel uneasy because you've experienced it (mixed serverside/browser validations) before and it was a very bad user experience? Or because you *think* it'll feel bad?

Personally, I feel like it's worth trialling before deciding it's bad.

[2017-04-10 04:19] jsidoryn commented on #320
@Obversity rather than arguing one way or the other, i'd support exploring the options a bit further. heath and i will explore the needs of clients and it would also be good to better understand the other options and their implications

[2017-04-10 04:29] jsidoryn commented on #309
@Obversity you are more than welcome to put together a demo. like i said in the previous comment, i'm open to the chance that the trade off is worth it.

i'm happy to take it offline if you'd like to talk more about user experience and forms. hit me up on wed if you'd like to chat more.

[2017-04-10 05:41] jsidoryn commented on #319
didn't even know we had a mailer generator!

i agree that it's pretty similar and the first step might be to add the extra flags etc. it opens the discussion of what would be useful things to add to the generator. would be very cool if we get generate items for the dashboard as this would lower the bar to creating them.

if we then want to take it one step further we can then make a specific one f

[2017-04-10 05:44] jsidoryn commented on #315
Awesome, I think we should push our hardest to see if we can use it as our default approach to search as it makes it vastly simpler. If client want something more then we can legitimately charge them as there's likely to be some fairly specific search functionality that they will be needing.

[2017-04-10 05:49] jsidoryn commented on #297
@dbaines great RFC. not a lot of comment as it's likely something that mainly affects you. would be great to have a solid approach to these though and these options seem like a good way to tackle. i reckon this is plenty for this RFC as it's likely to be lower down on the list. lots of good thinking there when we do get to it.

[2017-04-10 05:59] jsidoryn commented on #191
i don't know the detail about the value of it but i've always had the general idea that there should be a sitemap.xml for all sites. does anyone else have any views on this?

if we can build it in a way so there's very little effort per site then it would likely be a good addition.

[2017-04-10 06:01] jsidoryn commented on #159
seems sensible to add a :koi wrapper rather than :bootstrap. discussion around the way forms looks will likely be addressed elsewhere.

[2017-04-10 06:35] jsidoryn opened #329 "Upgradeable Koi"
- Start Date: 2017-04-10
- Owner: JS
- RFC PR: (leave this empty)

# Summary

Create a way so that Koi can be upgraded once deployed on a live site so that new features and improvements can be accessed by the client.

# Motivation

We had previously chosen to explicitly make Koi so that it needs to be manually upgradeable. This was part of the philosophy that Koi should be a light touch and help y

[2017-04-10 07:31] Obversity commented on #191
Autogenerating accurate sitemaps isn't really feasible, unless we want to allow admins to edit changefreq and priority for pages and other modules in Koi.

Quick example: Let's say a client creates a "Core Services" page, which is very important to them. They feature it in the primary navigation. Let's say they then create a  page "<Very-specific and niche service>" for a very specific and niche s

[2017-04-26 03:31] Obversity opened #330 "Bug with orderable, fails to set ordinal when creating record"
- Start Date: 2017-04-26
- Owner: BP

# Summary

When you created a record for a model that's `orderable: true`, it fails to add an ordinal, meaning the record doesn't have a set position in the list (until the whole list is reordered by dropping and dragging at least one item).

This results in situations where it can look like there are duplicate records in the front-end when you have things pag

[2017-05-03 04:12] jsidoryn commented on #308
Thanks for the chat and additional information at the dev catchup. Here's a quick summary of a few things from the meeting.

Current strategy:
Host: EngineYard
Tier 3: Shared - $600 / yr
Tier 2: Solo instance ~ +$3k (charged directly to the client with 15% loading)
Tier 3: Clustered environment - Custom setup for each client (charged directly to the client with 15% loading)

This is for the produc

[2017-05-03 04:15] jsidoryn commented on #308
Here are some additional notes from a follow up conversation with Peter.

The summary is that EngineYard do offer a lot out of the box that we would otherwise have to do. It's not that we can't set up our own servers but it's not a core competency that is important to the business.

It's a lot easier for us to make money by charging billable hours for Rails work done for clients then it is to up-s

[2017-05-10 01:14] jsidoryn commented on #307
@dbaines feel free to close this if done :)

[2017-05-10 01:23] jsidoryn commented on #299
@dbaines @Obversity i think we all agree that we are trying to work out the default that covers 90% of cases, not a minimal set just for the sake of it.

thanks for the feedback @dbaines, you've got a much better feeling for the needs of the clients then I do. happy to go with your recommendations.

[2017-05-10 01:43] jsidoryn commented on #218
@dbaines would you mind having a look at https://github.com/veracross/pickadate-rails and add your thoughts on it from a dev point of view.

i like the interface a lot more on mobile but part of a broader discussion. just want to know if we should kill it off at the start if there's a problem with it.

[2017-05-10 04:28] #307 closed

[2017-05-10 05:20] jsidoryn commented on #236
Closed

[2017-05-10 05:20] #236 closed

[2017-05-10 05:22] jsidoryn commented on #240
@pvawser01 Please merge: https://github.com/katalyst/koi/pull/286

[2017-05-10 05:36] jsidoryn commented on #188
@Obversity test it

[2017-05-10 05:43] jsidoryn commented on #320
General agreement that when using S3 and ssl it's ok to use the S3 url.
If this is a client concern in the future then we can tackle it then.

[2017-05-10 06:00] jsidoryn commented on #308
Consensus to stay with Comodo as service is good, price is reasonable and little benefit from going with Let's Encrypt.

[2017-05-12 04:27] Obversity commented on #326
I think a better solution would be for the generators to add a default `to_s` method, with something like

[code]

`to_s` methods are useful for all sorts of reasons and IMO most models should implement one.

Disclaimer: I haven't tested the above, but I think you get the gist.

[2017-05-12 06:24] pvawser01 opened #332 "Rails 5 upgrade next step"
There are a few things we will need to revisit regarding the rails 5 upgrade at a later stage. This issue is to document these so we do not lose sight of these things.

* gemspec will need a few gems added back once their rails 5 compatible versions are release
* The branch of ornament being pulled in will need to be changed once ornament has been versioned.
* Callback termination has been set to

[2017-05-15 08:10] Obversity commented on #293
The rails upgrade branch has now been merged into master. Any dependency/rails related issues we need to do can be done in hotfix branches and pull-requested, or perhaps straight on master (or whichever branch we decide to treat as the primary Koi 3 branch) depending risk.

[2017-05-15 08:10] #293 closed

[2017-05-30 06:12] pvawser01 commented on #289
I have updated the read me with a tag that needs to be replaced before running the copied command. The only dynamic way would be by using pre commit hooks. Not sure it warrants that so this will suffice. Also, I have defaulted the gem file to use the dynamic koi version not the local version. Keep in mind this is an open source project. Just good practice. If you want to run it using your local ko

[2017-05-30 06:50] pvawser01 commented on #288
I've done some research and there might be a better way here. I'd like to discuss some options and see what everyone thinks.

[2017-05-31 00:33] jsidoryn commented on #288
@pvawser01 is there any useful links that you could share. i'd be keen to be part of this discussion. i'll be in on friday and we can chat then but if there's anything you can add to this rfc it might help keep things going.

[2017-05-31 01:17] jsidoryn commented on #288
@pvawser01 @Obversity would you guys mind jotting down the problem we are trying to solve.

under motivation it says:
_Dependency issues reduce productivity significantly when jumping on a new project._

this seems frustrating. what is the cause of it? is it the dependencies in gems we use that cause the problems or gems unexpectedly update to the latest version because it wasn't specified in the

[2017-06-02 02:56] pvawser01 commented on #288
A couple of links that may be of interest:
http://bundler.io/v1.2/bundle_install.html
http://ryan.mcgeary.org/2011/02/09/vendor-everything-still-applies/

[2017-06-05 01:31] dbaines commented on #228
I've built a first cut of the Orphaned pages feature and pushed up as a PR: #335
It's pretty basic but works.

[2017-06-05 06:05] dbaines commented on #296
@Obversity @jsidoryn @pvawser01

I've created a first cut of the multiple sitemaps feature:
https://github.com/katalyst/koi/tree/feature/296-MultipleSitemaps
No pull request since it's pretty early.

***Warning***: This will create new `RootNavItems`, when switching out of this branch your sitemap will show the new `RootNavItem` rather than the first one. This can be fixed by deleting the new `Roo

[2017-06-06 05:50] dbaines commented on #237
I've started a turbolinks branch:
https://github.com/katalyst/koi/tree/feature/turbolinks

**Issues fixed so far:**
* CKEditor unloading before cache and reloading after cache
* Datepickers
* Magnific Popup (unfortunately required an update to the core JS file for magnific popup, just a one-liner)
* Drag and drop image uploader
* Orderables on an index listing

**Issues currently unresolved:**
* L

[2017-06-06 07:08] Obversity commented on #237
Awesome. Will take a look soon, hopefully.

[2017-06-08 03:32] pvawser01 commented on #319
This has been added to the master branch. All mailers will have recaptcha by default. If you want to opt out generate using the --skip_recaptcha option. The only thing it does not add is the google recaptcha key values in application.yml. The keys are there just empty values.

[2017-06-08 08:12] dbaines commented on #258
I've started working on some front-end code for dashboard widgets:
https://github.com/katalyst/koi/tree/feature/dashboard-analytics

There is a list of hashes that the feed in to the dashboard, here's some sample code:

[code]

This will produce some widgets like so:

![screen shot 2017-06-08 at 5 28 43 pm](https://user-images.githubusercontent.com/685024/26918241-47966940-4c70-11e7-9c36-82d034b63

[2017-06-09 03:12] dbaines commented on #249
I've given it a whack to see how hard it is to seperate out a form field type in to a separate gem and it all went pretty well! I've used CKEditor as a test dummy.

There are two parts to it, first a test branch that strips CKEditor out of Koi:
https://github.com/katalyst/koi/tree/experiment/removed-ckeditor

And a brand new (private for now) gem for CKEditor:
https://github.com/katalyst/koi_ckedi

[2017-06-13 02:22] dbaines opened #337 "Archivable Pages"
- Start Date: 2017-06-13
- Owner: DB
- RFC PR: (leave this empty)

# Summary

A method of "hiding" pages that leaves them unnavigable.
Any archived pages should be able to be restored easily.
Any archived pages should redirect to the homepage as a 302 temporary redirect.

# Motivation

Client request.
You can currently hide navitems, but the navigable object that it points to (eg. /my-page) is sti

[2017-06-20 00:09] jsidoryn commented on #249
I'm a bit late to the party but awesome stuff @dbaines

[2017-06-20 00:13] jsidoryn commented on #258
@dbaines these look pretty cool.

we've just found out we've got some budget to build some dashboard features for yoursay. this should be great as will help define some real use cases to solve for that project and then we can push our learnings back into koi 3.

or build generic and apply to yoursay...

either way, worth a chat about how best to proceed with this.

[2017-06-21 01:15] jsidoryn commented on #288
@pvawser01 thanks for sending them through.

@Obversity do you have any thoughts on this?

i had a bit of a look myself and couldn't find much on this approach and wondering why it isn't best practice? maybe just one of those things the people just put up with rather than sorting it out?

i had a look at thoughtbot as are a similar company with lots of customers. didn't uncover much but these two

[2017-06-22 06:29] Obversity commented on #316
@pvawser01 Was there anything in the recent YSA thing you did that'd be relevant here?

[2017-06-28 00:31] dbaines opened #339 "Missing database.yml.example file"
- Start Date: 2017-06-28
- Owner: TBA

# Summary

It looks like at some point Koi has stopped generating `database.yml.example` files. It still generates a `database.yml` file but this doesn't get committed for obvious reasons.

# Steps to reproduce

Pull down a recent project, eg. OPN.

# Expected results

There should be a `database.yml.example` file, so the new developer can easily duplicate, p

[2017-06-28 05:10] Obversity commented on #339
Definitely worth fixing. 👍

[2017-07-07 06:18] pvawser01 commented on #188
I have run some tests with a fresh application created from KOI HEAD branch. This seems impossible if the generators are used. The generators are adding the appropriate accessor type and validations for file types. The only way I see that the error explained could happen is if a developer implements an image attribute manually and does not define it correctly.
I am setting this as closed.

[2017-07-07 06:18] #188 closed

[2017-07-20 00:08] Obversity opened #340 "Separate backend/front-end pagination in crud settings"
At the moment, to turn off pagination on the front-end, you have to do `has_crud paginate: false`. This also turns off pagination in the backend.

[2017-07-20 02:25] dbaines commented on #340
This seems to work for me

[code]

[2017-07-20 02:30] Obversity commented on #340
Yup, I've used that in some places, but that doesn't help with turning off pagination.

You *can* turn it off by overriding `is_paginated?` in the controller, but that's pretty obscure.

Personally I just feel like pagination on the front-end should not at all be configured in the model, and I've wasted plenty of time trying to work out why the hell things are paginated in the front-end by default

[2017-07-21 04:31] dbaines commented on #237
We ran in to an issue with AddThis where it would cache the Facebook share links.

[2017-08-15 00:11] jsidoryn opened #341 "Alternate hosting v2"
- Start Date: 2017-08-15
- Owner: JS
- RFC PR:

# Summary
It may be worth exploring alternatives to shared hosting with EngineYard for small clients and single instance hosting at EngineYard for medium clients.

This is also the continuation of the following RFC started by Peter [Alternative hosting · Issue #308 · katalyst/koi · GitHub](https://github.com/katalyst/koi/issues/308)

# Motivation
We

[2017-09-01 03:32] dbaines commented on #324
[Version 2.3.5](https://github.com/katalyst/koi/releases/tag/v2.3.5) release includes a quick bandaid fix for Site Settings by implementing an inline form like how module/collection settings works:

![screen shot 2017-09-01 at 12 51 30 pm](https://user-images.githubusercontent.com/685024/29954254-95faf4b0-8f15-11e7-8ca5-6a4e826d93d0.png)

The regular old settings configuration is available under t

[2017-09-12 07:25] Obversity commented on #341
I am completely in favour of this. I think the goal when doing the first one should be to write a server setup script that will do most of the hard work of setting up the server for us, and write a koi generator to generate capistrano config that allows us to deploy to this setup very easily. We'd need to:

- Pick a VPS service. I'd suggest Vultr, given their pricing and given that they have Sydne

[2017-09-12 07:27] pvawser01 commented on #341
@jsidoryn
**Quirks and ongoing issues**
The re attaching of IP's is no longer an issue. There was a bug in EY that was rectified soon after an issue we had and I provided a poor experience feedback report. IP's are now reattached as they should.

**Redis/sidekiq issues**
This could be resovled with tighter configuration of queue namspaces, so that multiple workers don't process the wrong queues.

[2017-09-12 07:53] jsidoryn commented on #341
Do either of you have any thoughts on using Docker as a way to manage the build images as well as a way to get around the gem and dependency issues we were looking to address with RVM / rbenv-gemsets?

No problem if you don't have an opinion and we can talk about it tomorrow but if it's something you have a view on I'd be interested.

[2017-09-12 07:54] heathamos commented on #341
I am still getting my head around this but:

**Digital Ocean Setup Script**
1. Haven't we just done a heap of work regarding a server setup script for Digital Ocean with SALC
- Peter invested days getting this working and I was if the understanding that this was the ground work repeating this on Digital Ocean boxes going forward

From my perspective Reliability, Cost, and Effort and the three main

[2017-09-12 08:00] pvawser01 commented on #341
@jsidoryn Docker is something Matt and I looked at a while back and I think JBRt is using it. However, there is a lot to learn there. While The concept is a good one, I think it would be something that would require a good chunck of investment to get the knowledge to use docker successfully.
Using docker requires all devs (front and back end) to understand it.

[2017-09-12 08:23] Obversity commented on #341
Just for costing comparisons:
- $298 a year on Vultr gets us 4GB of ram and 2 CPU
- $149 a year on Vultr gets us 2GB of ram and 1 CPU
- $298 a year on DO gets us 2GB of ram and 2 CPU
- $149 a year on DO gets us 1GB of ram and 1 CPU
- $1060 a year on Engineyard gets us 4GB of ram and 2 CPU (t2.medium, similarly untested)
- $716 a year on Engineyard gets us 2GB ram and 1 CPU (t2.small, which we have

[2017-09-12 10:59] Obversity commented on #341
Regarding hiring an external contractor, I'd only be happy with that situation if they were happy to come in house for a couple of days while they were setting it up, and teach us as they go. That would be invaluable.

Having them do it completely on their own and then leave it with us to work with would be much worse than the current situation I'd think.

[2017-09-12 11:43] Obversity commented on #341
Regarding Docker: It's something I'd be interested in, but yes, it'd be a big decision given that none of us are at all familiar with it.

[2017-09-21 23:19] jsidoryn commented on #341
@Obversity @pvawser01 @heathamos thanks for all your input.

I've been doing a bit more research around this and while Docker is a new to learn it may still be worth evaluating as a development spike. We can chat about this more and evaluate it against some of the criteria that @heathamos mentioned.

Another alternative could be to look at something like Dokku or Flynn:
http://dokku.viewdocs.io/do

[2017-10-18 00:07] jsidoryn opened #345 "Unable to add a file to a page from asset manager"
Spoke with Dave about this and seems to be a known issue so I won't go too far into describing the bug unless you need more info. Basically successfully uploaded a file but then there was no option to add it to a page.

This is a blocker for YourSAy upgrade to go to client.

[2017-10-18 00:08] jsidoryn commented on #345
Here's the source of the regression:

https://github.com/katalyst/koi/pull/270

[2018-10-18 02:03] #327 closed

[2018-10-19 06:29] jamiekatalyst opened #355 "Add option to exclude pages from Google search from SEO setting in pages/modules"
- Start Date: 2018-10-19
- Owner: TBC

# Summary

Currently, we can hide pages from the navigation but clients often have the expectation that this also hides the results from search engines.

# Motivation

To allow users to create pages within the existing site that can be used for internal purposes or directly shared with a subset of users without risk that the content will be indexed and return

[2018-10-19 06:40] Obversity commented on #355
@jamiekatalyst  Sounds like a good idea!

Worth discussing how this might interact with any kind of hidden / publish state.

We might want pages that:

- are accessible by the public and search engines (normal page behaviour)
- are accessible by people directly by url but not search engines
- are accessible by admins only (i.e. 'unpublished')

Can we think of any other useful states to account for

[2018-10-19 06:48] jamiekatalyst commented on #355
Another one, but not relevant to all clients would be:
- are accessible by people directly by url but not search engines or site search

[2018-10-25 09:38] dbaines commented on #309
Feature merged in to master

[2018-10-25 09:38] #309 closed

[2018-12-12 01:55] dbaines opened #360 "The asset model is breaking asset helpers"
- Start Date: 2018-12-12
- Owner: JS
- RFC PR: (leave this empty)

# Summary

We have a model named `Asset`.
This is used for the asset manager.
`Document` and `Image` extend off this model.

If the main application has a route, eg:

[code]

This will break the rails image asset helpers such as `asset_path` and `asset_url`

# Motivation

Sometimes we need `asset_path` or `asset_url` to be the rail

[2018-12-12 02:15] Obversity commented on #360
I'm in favour of either of the alternatives. We may just be able to remove the route without breaking anything—we'll find out shorty with Tonkin I imagine. And if we do end up needing a generic route for both images and assets, I'm more than fine with it being `koi_asset_path`. In other words, I think we'd just need to change it to

[code]

[2018-12-13 22:50] dbaines commented on #360
@Obversity Agreed. Added that, gave it a test and it looks like it's working nicely!
Fixed in dfd4ddd488b5082886bc9dc674cc4cb311f3e742

[2018-12-13 22:50] #360 closed

[2019-04-30 06:53] mattr opened #364 "App generator template should be deployment agnostic"
At present, generating a new rails app using the Koi template has a dependency on the EngineYard gem both for initialisation and karo file.

These should be removed from the default template and replaced with separate generators for alternate deployment scenarios.

[2019-08-26 01:36] sfnelson opened #374 "Example composable components incorrectly use `className` instead of `class`"
Dummy app composable content examples use the following pattern:

[code]

The snippet `advanced.try(:[], "className")` should be `advanced.try(:[], "class")`.

[2019-08-27 07:59] Obversity opened #375 "Issue / feature: select whether URL rewrite is permanent or temporary"
Clients need url rewrites for a variety of purposes, and sometimes they need the redirect to be temporary and other times they need it to be permanent.

Currently we're always doing a 301 redirect, which can get people's browsers into a state where it's impossible to visit their content after, say, creating a page to replace a redirect.

UI wise, I'd propose either a checkbox saying "Permanent red

[2019-09-24 00:27] SughoshRao opened #379 "Maintain react-composable-component npm package"
Koi 3.3.0+ versions depend on the `react-composable-content` npm package for Composable Content features.

`react-composable-content` in turn depends on `react-beautiful-dnd` v10.1.1 and `react-final-form` v3.6.7 packages but newer versions of the latter packages break Composable Content.

We will have to upgrade and maintain `react-composable-content` to ensure it will work with newer versions of

[2019-11-27 03:43] mattr opened #382 "Assets should use appropriate helpers"
At present, assets such as SCSS components include direct references to the associated images.

Update these references the appropriate `asset-path` or `asset-url` helpers to ensure that precompiled assets are correctly referenced with a SHA256 hash.

[2019-11-27 03:45] mattr opened #383 "Move CKEditor out of assets?"
Can the assets for CKEditor which are currently bundled in the `app/assets` directory be replaced with `ckeditor_rails` (or another gem)?

[2020-02-20 02:02] SughoshRao opened #386 "Uploading documents through CKEditor not working"
Upload sends a POST request to /admin/documents/new -- should send to /admin/documents instead.

This url is configured in CKEditor `config.js`

[2020-03-10 03:55] sfnelson opened #389 "Default i18n configuration is slow"
See `config/initializers/i18n.rb`

Koi uses ActiveRecord to store internationalisations by default, which leads to a very large number of queries running when simple form renders a page. Consider adding a cache or reverting the default to 'simple'.

[2020-03-10 05:07] Obversity commented on #389
For future reference, one solution we use for lots of our apps is to use the 'simple' backend as mentioned:

[code]

We're thinking this ought to be the default, unless the client specifically needs translations to be editable via Koi, which case extra work will need to be done.

The sheer number of queries is only part of the problem causing slowness. The other part is in how Koi settings work an

[2020-05-15 06:00] sfnelson opened #393 "NavItem URL can enter an infinite loop"
Steps to reproduce:
 - Create an AliasNavItem as the first child of a FolderNavItem
 - Link to the FolderNavItem

The URL computation for FolderNavItem calls URL on its first child, which recursively calls URL on the aliased item, causing an infinite loop.

[2020-05-15 06:28] sfnelson commented on #393
Resolved in `release/2.4` branch, still outstanding on 1.x and 3.x

[2020-10-20 04:58] sobakasu opened #408 "Translation records are created with value: nil"
Some work has been done on this already, however new translation/settings records are still being created on staging with value: nil.

[2021-05-25 06:01] sobakasu commented on #339
generators have been removed from koi.
you can use the rails new generator to generate a database.yml.
e.g. `rails new project_name --database=postgresql`

[2021-05-25 06:01] #339 closed